{% extends "layout.html" %}
{% block body %}
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

<div style="height: 800px;" id="mymap"></div>

<script>
function onEachFeature(feature, layer) {
    if (feature.properties && feature.properties.popupContent) {
        layer.bindPopup(feature.properties.popupContent);
    }
}

var accessToken = 'pk.eyJ1IjoidGhlc29sdXRpb25zdGFjayIsImEiOiJjaW50YWc2ZHMxMTNtdWFtM2tiYWh6ZTRwIn0.ZNafhnb0UAamLVQaHwwfqg';

var mapboxTiles = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + accessToken, {
    attribution: '© <a href="https://www.mapbox.com/map-feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    maxZoom: 18,
    id: 'mapbox.outdoors',
    accessToken: accessToken
});

var map = L.map('mymap')
    .addLayer(mapboxTiles)
{% if center %}
    .setView([{{center[1]}}, {{center[0]}}], 10);
{% else %}
    .setView([51.7, -108], 6);
{% endif %}

var flaskFeature = {{results|safe}}

L.geoJson(flaskFeature, {
    onEachFeature: onEachFeature
}).addTo(map);

</script>

{% endblock %}

    .setView([0, 0], 1);
