<script>
$(function() {
  $('#ba-lookup-accordion').accordion({
    collapsible:true,
    heightStyle:'content',
  });

  $('#lookup-search')
  .button({
    icons: {primary: 'ui-icon-search'}
  })
  .click(function() {
    event.preventDefault();
    $.ajax({
      type: "GET",
      url: "/lookup/ba_results",
      dataType: "html",
      data: $('#ba-lookup-form').serialize()
    })
    .done(function (msg){
        if (msg) {
          $('#ba-lookup-results').html(msg);
          $("#ba-lookup-accordion").accordion("option", "active", false)
        } else {
          $('#ba-lookup-results').html('<span style="color:red">No results found</span>');
        }
    });
  });
});
</script>
<div id="ba-lookup-modal">
<div id="ba-lookup-accordion">
<h3>Search parameters</h3>
  <form id="ba-lookup-form" action="/wellevent/search" method="get">
    <table>
      <tr>
        <td>
          <b>Name:</b>
          <br>
          <input name="CorpLegalName"/>
        </td>
        <td>
          <b>Type:</b>
          <br>
          <!--<input name="BAType" />-->
          <select name="BAType">
            <option value="COMPANY">Company</option>
            <option value="INDIVIDUAL">Individual</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <b>ID:</b>
          <br>
          <input name="BAid" />
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" id="lookup-search">Search</button>
        </td>
      </tr>
    </table>
   </form>
</div>

<br>

<div id="ba-lookup-results">
</div>
</div>