
<!DOCTYPE html>

<html lang="en">
<head>
<title>Table Display</title>
<link type="text/css" rel="stylesheet" href={{url_for("static", filename="style.css")}}>
</head>

<body style="margin:30">

	<ul class="topnav">
    {% for item in tables %}
        <li class="topnav"> <a class="{%if item == table%}active{% else %}topnav{% endif %}" href="?table={{ item }}"> {{ item }} </a> </li>
    {% endfor %}
	</ul>
 
 <div style="padding:10px;margin-top:25px;">
    {% if header %}
    	<table border="1">
    	<tr>
        {% for h in header %}
        	<td> <a href=?table={{table}}&attr={{ h }}> {{ h }} </a> {% if h in links %} - {% else %} <a onclick="openLink('{{table}}','{{h}}')">+</a> {% endif %}</td>
        {% endfor %}
    	</tr>
	    {% if rows %} 
	    
	        {% for r in rows %}
		    	<tr>
	        	{% for c in r %}
	        		<td> {{ c }} {% if header[loop.index0] in links %} <a href="{{links[header[loop.index0]]}}{{c}} ">-</a>  {% endif %}</td>
		        {% endfor %}
		    	</tr>
	        {% endfor %}
	    {% endif %}
	    </table>
    {% endif %}
    <p>
    {{ table }}
    <p>v6
</div>

<p id="demo"></p>


<a onclick="document.getElementById('openModal').innerHTML='<object type='text/html' data='/link' ></object>'">
Open Modal 2</a>

<p>

<a href="#openModal">Open Modal</a>

<div id="openModal" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">Xxx</a>
		<h2>Modal Box</h2>
		<p>This is a sample modal box that can be created using the powers of CSS3.</p>
		<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
	</div>
</div>


<a href="#lfsModal">Open lfs Modal</a>

<div id="lfsModal" class="lfsDialog">
	<div>
		<a href="#close" title="Close" class="close">Xxx</a>
		<h2>Modal lfs Box</h2>
		<p>Larry is just playing with this.</p>
		<p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
	</div>
</div>


<script>
function openLink(table,attrname) {
	document.getElementById("demo").innerHTML = table + '-Joining type text-' + attrname
	link = "/link?tablename=" + table + "&attrname=" + attrname
	document.getElementById("demo").innerHTML = link
	window.open(link,'',' scrollbars=yes,menubar=no,top=100,left=100,width=300, height=300 resizable=yes,toolbar=no,location=no,status=no,address=no')
//	window.open('/link','',' scrollbars=yes,menubar=no,top=100,left=100,width=300, height=300 resizable=yes,toolbar=no,location=no,status=no,address=no')
// <a style="cursor: pointer" onclick=" window.open('/link','',' scrollbars=yes,menubar=no,width=300, height=300 resizable=yes,toolbar=no,location=no,status=no,location=no')">Next 1</a>
// <a onclick=" window.open('/link','',' scrollbars=yes,menubar=no,width=300, height=300 resizable=yes,toolbar=no,location=no,status=no,address=no')">Next 2</a>
}
</script>    
</body>
</html>