
<!DOCTYPE html>

<html lang="en">
<head>
<title>Table Display</title>
<link type="text/css" rel="stylesheet" href={{url_for("static", filename="style.css")}}>
</head>

<body style="margin:30">

	<ul class="topnav">
    {% for item in tables %}
        <li class="topnav"> <a class="{%if item == table%}active{% else %}topnav{% endif %}" href="?table={{ item }}"> {{ item }} </a> </li>
    {% endfor %}
	</ul>
 
 <div style="padding:10px;margin-top:25px;">
    {% if header %}
    	<table border="1">
    	<tr>
        {% for h in header %}
        	<td> <a href=?table={{table}}&attr={{ h }}> {{ h }} </a> {% if h in links %} - {% else %} <a onclick="openLink('{{table}}',''{{h}}')">+</a> {% endif %}</td>
        {% endfor %}
    	</tr>
	    {% if rows %} 
	    
	        {% for r in rows %}
		    	<tr>
	        	{% for c in r %}
	        		<td> {{ c }} {% if header[loop.index0] in links %} <a href="{{links[header[loop.index0]]}}{{c}} ">-</a>  {% endif %}</td>
		        {% endfor %}
		    	</tr>
	        {% endfor %}
	    {% endif %}
	    </table>
    {% endif %}
    <p>
    {{ table }}
</div>
<script>
function openLink(table) {
    window.open("/link?tablename=" + table + "&attrname=" + attr + ", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=500, left=500, width=400, height=400");
}
</script>    
</body>
</html>