<div id="dialog">
  <form>
    <fieldset>
      <legend>Well</legend>
      <table class="wellmodal" cellpadding=5>
        <tr>
          <td><label for="ID">ID</label></td>
          <td><input type="text" id="ID" value={{result.ID}}></td>
          <td><label for="WellEvent">Well Event</label></td>
          <td><input type="text" id="WellEvent" value={{result.WellEvent}}></td>
        </tr>
        <tr>
          <td><label for="WellType">Well Type</label></td>
          <td><input type="text" id="WellType" value={{result.WellType}}></td>
          <td><label for="LeaseType">Lease Type</label></td>
          <td><input type="text" id="LeaseType" value={{result.LeaseType}}></td>
        </tr>
        <tr>
          <td><label for="RoyaltyClassification">Royalty Classification</label></td>
          <td><input type="text" id="RoyaltyClassification" value={{result.RoyaltyClassification}}></td>
          <td><label for="Classification">Classification</label></td>
          <td><input type="text" id="Classification" value={{result.Classification}}></td>
        </tr>
        <tr>
          <td><label for="Province">Province</label></td>
          <td><input type="text" id="Province" value={{result.Prov}}></td>
          <td><label for="SRC">SRC</label></td>
          <td><input type="text" id="SRC" value={{result.SRC}}></td>
        </tr>
        <tr>
          <td><label for="PEFNInterest">PEFN Interest</label></td>
          <td><input type="text" id="PEFNInterest" value={{result.PEFNInterest}}></td>
          <td><label for="CommencementDate">CommencementDate</label></td>
          <td><input type="text" id="CommencementDate" value={{result.CommencementDate}}></td>
        </tr>
        <tr>
          <td><label for="ReferencePrice">ReferencePrice</label></td>
          <td><input type="text" id="ReferencePrice" value={{result.ReferencePrice}}></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>

<script>
  $(function(){
    function formSave(){
      console.log();
    }

  dialog = $("#dialog").dialog({
    autoOpen: true,
    height: 400,
    width: 800,
    modal: true,
    title: "Edit well",
    buttons: {
      "Save": formSave,
      Cancel: function() {dialog.dialog("close");}
    },
      close: function() {form[0].reset();}
  });

  form = dialog.find( "form" ).on( "submit", function( event ) {
    event.preventDefault();
    formSave();
  });
  })
</script>