{% extends "layout.html" %}
{% block body %}
<script>
  $(function() {
  	$('#tabs').tabs();
    $('#accordion').accordion({
      collapsible:true,
      heightStyle:'content',
    });
    $('#search-basic, #search-advanced').button({
      icons: {primary: 'ui-icon-search'}
    });
  });
</script>

<h2>Well Event Search</h2>

<div id="accordion">
  <h3>Search Criteria</h3>
  <div>
  	<div id="tabs">
  	  <ul>
  	    <li><a href="#tabs-basic">Basic search</a></li>
  	    <li><a href="#tabs-advanced">Advanced search</a></li>
  	  </ul>

  	  <div id="tabs-basic">
      <form name="search-basic" action="/wellevent/search" method="get">
  	    <b>Well Event:</b>
        <br>
        <input id='WellEvent' name="WellEvent" value="{% if search_terms %}{{ search_terms['WellEvent'] }}{% endif%}" />
        <br>
        <br>
        <b>Location:</b>
        <br>
        <table>
          <tr>
            <td><label>LSD</label></td>
            <td><label>SEC</label></td>
            <td><label>TWP</label></td>
            <td><label>RGE</label></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label>MER</label></td>
          </tr>
          <tr>
            <td><input id='LSD' name="LSD" style="width:50px" value="{% if search_terms %}{{ search_terms['LSD'] }}{% endif %}" /></td>
            <td><input id='Section' name="Section" style="width:50px" value="{% if search_terms %}{{ search_terms['Section'] }}{% endif %}" /></td>
            <td><input id='Township' name="Township" style="width:50px" value="{% if search_terms %}{{ search_terms['Township'] }}{% endif %}" /></td>
            <td><input id='Range' name="Range" style="width:50px" value="{% if search_terms %}{{ search_terms['Range'] }}{% endif %}" /></td>
            <td><b>W&nbsp;</b><input id='Meridian' name="Meridian" style="width:50px" value="{% if search_terms %}{{ search_terms['Meridian'] }}{% endif %}" /></td>

          </tr>
        </table>
        <br>
        <br>
        <button type="submit" id='search-basic'>Search</button>
       </form>
  	  </div>

  	  <div id="tabs-advanced">
      <form name="search-advanced">
  	    Province
        <br>
        <input id='well-search-prov' name="Province" />
        <br>
        <br>
        Well Type
        <br>
        <input id='well-search-type' name="WellType" />
        <br>
        <br>
        <button type="submit" id='search-advanced'>Search</button>
          <select name="Output">
            <option value="browse">Browse</option>
            <option value="excel">Excel</option>
            <option value="map">Map</option>
          </select>
      </form>
  	  </div>

  	</div>
  </div>
</div>

{% if results %}
<div id='results-table'>
<table style="width:100%" class="results_table table-striped">
  <tr>
    <td colspan=13><b>{{results|length}}</b> results found</td>
  </tr>
  <tr>
    <th>WellEventInfo: Well Event</th>
    <th>WellEventStatus: Status</th>
    <th>RTAHeader: RTPOperator</th>
    <th>BAInfo: Operator Short Name</th>
    <th>WellFacilitylink: Facility Number</th>
    <th>FacilityInfo: Facility Name</th>
    <th>WellEventLoc: Lat</th>
    <th>WellEventLoc: Long</th>
  </tr>
  {% for row in results %}
  <tr>
    <td><a href="{{ url_for('wellevent.details', wellevent_num = row.WellEvent) }}">{{ row.WellEvent or "" }}</a></td>
    <td>{{ row.Status or "" }}</td>
    <td>{{ row.RTPOperator or "" }}</td>
    <td>{{ row.CorpShortName or "" }}</td>
    <td>{{ row.Facility or "" }}</td>
    <td>{{ row.Name or "" }}</td>
    <td>{{ row.Lat or "" }}</td>
    <td>{{ row.Long or "" }}</td>
  </tr>
  {% endfor %}
</table>
</div>
<script>
$(function(){
  $("#accordion").accordion("option", "active", false);
}
)
</script>
{% endif %}

</html>

{% endblock %}