<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=UnifrakturMaguntia">
	<link rel="stylesheet" href={{url_for("static", filename="css/jqmath-0.4.3.css")}}>

	<script src={{url_for("static", filename="js/jquery-2.1.4.min.js")}}></script>
	<script src={{url_for("static", filename="js/jqmath-etc-0.4.3.min.js")}}></script>
<style>

h1 {
    font-family: arial;
    padding: 3;
    font-size: 120%
}
p1  {
    font-family: arial;
    font-size: 80%;
}


div {
    font-family: arial;
    font-size: 13px;
    align: center;
}

table{
    padding:1;

}

td{
    padding:1px;
    margin:0;
}

th{
   margin:0;
   padding:1px;
}

fmath {
    font-family: arial;
    line-height: inherit;
}

</style>
</head>
<body>


<h1 align="center">Well: {{ well.ID }} Royalty Payor: {{ m.RPBA }} <br>
	  {{ well.WellEvent }} - {{ ba.CorpShortName }}</h1>

<!--<p1>-->
<div align="center">

<TABLE>
	<col width="25%">
	<col width="25%">
	<col width="25%">
	<col width="25%">
    {#
        --- Top Left of Page
    #}
    <tr>
        <td align="right" colspan="2">
            <table align="center">
                <tr>
                    <th align="right">Lease:</th> <td>{{ lease.Lease }}</td>
                </tr>
                <tr>
                    <th align="right">Right:</th> <td>{{ rm.RightsGranted }}</td>
                </tr>
                <tr>
                    <th align="right">Province:</th> <td>{{ well.Prov }}</td>
                </tr>
                <tr>
                    <th align="right">Royalty Base:</th> <td>{{ rm.RoyaltyScheme }}</td>
                </tr>
                {% if rm.Gorr %}
                    <tr>
                        <th align="right">GORR:</th> <td>{{ rm.format_gorr  }}</td>
                    </tr>
                {%endif%}
                <tr>
                    <th align="right">Crown Multiplier:</th> <td>{{ '{:.2f}'.format(rm.CrownMultiplier) }}</td>
                </tr>
                <tr>
                    <th align="right">PE FN Interest:</th> <td>{{ '{:.6%}'.format(well_lease_link.PEFNInterest) }}</td>
                </tr>
                <tr>
                    <th align="right">Royalty Payor Percent:</th> <td>{{ '{:.6f}%'.format(rtp_info.Percent) }}</td>
                </tr>
                {% if rm.MinRoyaltyRate %}
                    <tr>
                        <th align="right">Min Royalty Rate:</th> <td>{{  '{:.6%}'.format(rm.MinRoyaltyRate) }}</td>
                    </tr>
                {%endif%}
                {% if rm.MinRoyaltyDollar %}
                    <tr>
                        <th align="right">Min Royalty Dollar:</th> <td>{{  '{:.2f}'.format(rm.MinRoyaltyDollar) }}</td>
                    </tr>
                {%endif%}
                {% if rm.CrownModifier %}
                    <tr>
                        <th align="right">Crown Modifier:</th> <td>{{  '{:.6%}'.format(rm.CrownModifier) }}</td>
                    </tr>
                {%endif%}
            </table>
        </td>
    {#
        --- Top Right of Page
    #}
        <td align="left" colspan="2">
            <table align="center">
                {% if well.SRC != None %}
                    <tr>
                        <th align="right">SRC:</th> <td> {{ well.SRC }} </td>
                    </tr>
                {% endif %}
                {% if well.Classification != None %}
                    <tr>
                        <th align="right">Area Classification:</th> <td> {{ well.Classification }} </td>
                    </tr>
                {% endif %}
                {% if well.RoyaltyClassification != None %}
                    <tr>
                        <th align="right">Royalty/Tax Classification:</th> <td> {{ well.RoyaltyClassification }} </td>
                    </tr>
                {% endif %}
                <tr>
                    <th align="right">Valuation Method:</th> <td> {{ rm.ValuationMethod }} </td>
                </tr>
                {% if well.CommencementDate != None %}
                    <tr>
                        <th align="right">Commencement Date:</th> <td> {{ well.CommencementDate }} </td>
                    </tr>
                {% endif %}
                {% if calc.CommencementPeriod != None %}
                    <tr>
                        <th align="right">Commencement Period:</th> <td> {{ calc.CommencementPeriod }} </td>
                    </tr>
                {% endif %}
                {% if rm.TransDeducted != None %}
                    <tr>
                        <th align="right">Trans Deduction:</th> <td> {{ rm.TransDeducted }} </td>
                    </tr>
                {% endif %}
                {% if rm.ProcessingDeducted != None %}
                    <tr>
                        <th align="right">Processing Deduction:</th> <td> {{ rm.ProcessingDeducted }} </td>
                    </tr>
                {% endif %}
                </table>
            </td>
   </TR>

</TABLE>

<!--<head>-->
<style>
table, th, td {
    border-collapse: collapse;
}

</style>
<!--</head>-->

    <TABLE style="width:700" border="1">
        <colgroup>
            <col span="8" width="100" align="right">
        </colgroup>


	<caption><br><b>Monthly Data</b><br><br></caption>

    {#
        --- Monthly Data
    #}

   <TR>
      <th>Extract Date</th>
      <th>Prod. Month</th>
	   <th>Amend No.</th>
	   <th>Prod.</th>
	   <th>Prod Vol</th>
	   <th>Sales Price</th>
	   <th>Trans Price</th>
	   <th>Processing Price</th>
   </TR>

	<tr>
        <td align="center">{{ m._format.yyyy_mm_dd(m.ExtractMonth) }}</td>
        <td align="center">{{ m._format.ProdMonth }}</td>
	    <td align="center">{{ m.AmendNo }}</td>
	    <td align="center">{{ m.Product }}</td>
	    <td align="center">{{ '{:.2f}'.format(m.ProdVol) }}</td>
	    <td align="center">{{ '{:>10,.6f}\n'.format(m.SalesPrice) }}</td>
	    <td align="center">{{ '{:>10,.6f}\n'.format(m.TransRate) }}</td>
	    <td align="center">{{ '{:>10,.6f}\n'.format(m.ProcessingRate) }}</td>
    </tr>

    </TABLE>
    <br>

        {*** Note: Replace Monthly data with Petrinex detail when available ***}<br>

    {#
        --- SKProvCrownVar Crown Royalty %
    #}

    {% if 'SKProvCrownVar' in rm.RoyaltyScheme and m.Product == 'OIL' %}
        <br>
        <TABLE>

            {% if calc.RoyaltyClassification == 'Fourth Tier Oil' and m.ProdVol <= 25.0 %}
                <tr><td> {{ calc.Message }}<td><tr>
            {% elif calc.RoyaltyClassification == 'Fourth Tier Oil' and m.ProdVol <= 136.2 %}
                <tr><td align="right">CR% =</td> <td align="center">(C * MOP) - D</td></tr>
                <tr><td align="right">CR% =</td> <td align="center">&nbsp;&nbsp;({{ '{:.4f}'.format(calc.C) }} * {{ '{:.2f}'.format(m.ProdVol) }}) - {{'{:.2f}'.format(calc.D)}}</td></tr>
                <tr><td align="right">CR% =</td> <td align="center"> {{'{:.6%}'.format(calc.BaseRoyaltyCalcRate) }}</td></tr>
            {% elif calc.RoyaltyClassification == 'Fourth Tier Oil' %}
                <tr><td align="left"> CR% = </td> <td>$$ (K - X / {MOP} ) $$ </td></tr>
                <tr><td align="left"> CR% = </td> <td>$$ ( {{'{:.2f}'.format(calc.K)}} -
                    {{ calc.X }} / {{ '{:.2f}'.format(m.ProdVol) }} ) $$ </td></tr>
                <tr><td align="left"> CR% = </td><td align="center"> {{ '{:.6%}'.format(calc.BaseRoyaltyCalcRate) }} </td></tr>
            {% else %}
                <tr><td align="left"> CR% = </td> <td>$$ (K - X / {MOP} ) - SRC $$ </td></tr>
                <tr><td align="left"> CR% = </td> <td>$$ ( {{'{:.2f}'.format(calc.K)}} -
                    {{ calc.X }} / {{ '{:.2f}'.format(m.ProdVol) }} ) - {{ well.SRC }} $$ </td></tr>
                <tr><td align="left"> CR% = </td><td align="center"> {{ '{:.6%}'.format(calc.BaseRoyaltyCalcRate) }} </td></tr>
            {% endif %}
            {% if rm.CrownModifier %}
                <tr><td align="left"> Crown Modifier% = </td><td align="center"> {{ '{:.6%}'.format(rm.CrownModifier) }} </td></tr>
            {%endif%}

        </TABLE>
        <br>

    {% endif %}

    {#
        --- IOGR 1995 --- Royalty Volume
    #}

    {% if 'IOGR1995' in rm.RoyaltyScheme and m.Product == 'OIL' %}
        {% if calc.CommencementPeriod %}
            <br>
            {% if calc.CommencementPeriod < 5 %}
                Royalty Calc Type: IOGR 1995 with Commencement Period < 5 Years:
            {% else %}
                Royalty Calc Type: IOGR 1995  with Commencement Period >=  5 Years:
            {% endif %}
        {% endif %}

        <TABLE align="center" style="width:100">
            <col width="20%">
            <col width="1%">
            <col width="20%">

            {% if m.ProdVol < 80 %}
                <tr><td align ="right">MOP < 80: RVol</td> <td align="center">=</td> <td align="left">10% * MOP</td></tr>
                <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">10% * {{ '{:.2f}'.format(m.ProdVol) }}</td></tr>
                <tr><td align ="right">RVol</td> <td align="center">=</td> <td align="left">{{ calc.BaseRoyaltyVolume }}</td></tr>
            {% elif m.ProdVol < 160 %}
               <tr><td align="right"> MOP 80 to 160: RVol</td> <td align="center">=</td> <td align="left">8 + [20% * (MOP - 80)]</td></TR>
               <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">8 + [20% * ({{ '{:.2f}'.format(m.ProdVol) }} - 80)]</td></tr>
               <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">{{ '{:.2f}'.format(calc.BaseRoyaltyVolume) }}</td></tr>
            {% elif calc.CommencementPeriod < 5 %}
                <tr><td align="right"> MOP > 160: RVol</td> <td align="center">=</td> <td align="left">24 + [26% * (MOP - 160)]</td></tr>
                <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">24 + [26% * ({{ '{:.2f}'.format(m.ProdVol) }} - 160)]</td></tr>
                <tr><td align="right"> RVol</td><td align="center">=</td></td><td align="left">{{ '{:.2f}'.format(calc.BaseRoyaltyVolume) }}</td></tr>
            {% elif m.ProdVol < 795 %}
                <tr><td align="right">MOP 160 to 795: RVol</td> <td align="center">=</td> <td align="left">24 + [26% * (MOP - 160)]</td></tr>
                <tr><td align="right">RVol</td><td align="center">=</td> <td align="left">24 + [26% * ({{ '{:.2f}'.format(m.ProdVol) }} - 160)]</td></tr>
                <tr><td align="right">RVol</td><td align="center">=</td> <td align="left">{{ '{:.2f}'.format(calc.BaseRoyaltyVolume) }}</td></tr>
            {% else %}
                <tr><td align="right">MOP > 795: RVol </td> <td align="center">=</td> <td align="left">189 + [40% * (MOP - 795)]</td></tr>
                <tr><td align="right">RVol</td><td align="center">=</td> <td align="left">189 + [40% * ({{ '{:.2f}'.format(m.ProdVol) }} - 795)]</td></tr>
                <tr><td align="right">RVol</td><td align="center">=</td> <td align="left">{{ '{:.2f}'.format(calc.BaseRoyaltyVolume) }}</td></tr>
            {% endif %}

        </TABLE>
    {% endif %}

    {% if 'IOGR1995' in rm.RoyaltyScheme and m.Product == 'GAS' %}
        {% if calc.CommencementPeriod %}
            <br>
            {% if calc.CommencementPeriod < 5 %}
                Royalty Calc Type: IOGR 1995 with Commencement Period < 5 Years:
            {% else %}
                Royalty Calc Type: IOGR 1995  with Commencement Period >=  5 Years:
            {% endif %}
        {% endif %}
        <br>
        <TABLE align="center" style="width:100">
            <col width="20%">
            <col width="1%">
            <col width="20%">

            <tr><td align = "right">Basic gross royalty</td><td align = "center">=</td><td align = "left">25% * selling price - supplementary</td></tr>
            <tr><td align = "right">Basic gross royalty</td><td align = "center">=</td><td align = "left">25% * {{ '{:.2f}'.format(m.SalesPrice) }} - supplementary</td></tr>
        </TABLE>
    {% endif %}

    {#
        --- OIL - SKProvCrownVar - Royalty $
    #}

    {% if m.Product == 'OIL' and 'SKProvCrownVar' in rm.RoyaltyScheme %}
        <table>
            <tr>
                <td>Base Royalty =</td>
                <td style="text-align:center"> CR%</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">CMult</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">Prod Vol</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">PE FN %</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">RP %</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">RVal</td>
            </tr>
            <tr>
                <td> </td>
                <td style="text-align:center"> {{ '{:.6%}'.format(calc.BaseRoyaltyRate) }}</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">{{ rm.CrownMultiplier }}</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">{{ '{:.2f}'.format(m.ProdVol) }}</td>
                <td>*</td>
                <td>{{ '{:.6%}'.format(well_lease_link.PEFNInterest) }}</td>
                <td>*</td>
                <td>{{ '{:.6f}%'.format(rtp_info.Percent)}}</td>
                <td>*</td>
                <td>{{ '{:>10,.6f}\n'.format(calc.RoyaltyPrice) }}</td>
            </tr>
            <tr>
                <td> </td>
                <td style="text-align:center">$ {{ '{:>10,.2f}\n'.format(calc.BaseRoyaltyValue)}}</td>
            </tr>
        </table>

        {# --- OIL / SKProvCrownVar / Transportation #}

        {% if calc.TransBaseValue > 0 %}
            <br>
            <table>
                <tr>
                    <td>Base Transportation =</td>
                    <td style="text-align:center"> CR%</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">CMult</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">Prod Vol</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">PE FN %</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">RP %</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">Trans Price</td>
                </tr>
                <tr>
                    <td>  </td>
                    <td style="text-align:center"> {{ '{:.6%}'.format(calc.BaseRoyaltyRate) }}</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">{{ rm.CrownMultiplier }}</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">{{ '{:.2f}'.format(m.ProdVol) }}</td>
                    <td>*</td>
                    <td>{{ '{:.6%}'.format(well_lease_link.PEFNInterest) }}</td>
                    <td>*</td>
                    <td>{{ '{:.6f}%'.format(rtp_info.Percent)}}</td>
                    <td>*</td>
                    <td>{{ '{:>10,.6f}\n'.format(m.TransRate) }}</td>
                </tr>
                <tr>
                    <td> </td>
                    <td style="text-align:center">$ {{ '{:>10,.2f}\n'.format(calc.TransBaseValue)}}</td>
                </tr>
            </table>
        {% endif %}
    {% endif %}

    {#
        --- IOGR1995 --- Royalty $
    #}

    {% if m.Product == 'OIL' and 'IOGR1995' in rm.RoyaltyScheme%}
        <br>
        <table>
             <tr align="center">
                 <td>R$</td>
                 <td>=</td>
                 <td>CrownMult</td>
                 <td>*</td>
                 <td>RVol</td>
                 <td>*</td>
                 <td>PE FN %</td>
                 <td>*</td>
                 <td>RP %</td>
                 <td>*</td>
                 <td>RVal</td>
             </tr>
            <tr align="center">
                <td>R$</td>
                <td>=</td>
                <td>{{ rm.CrownMultiplier }}</td>
                <td>*</td>
                <td>{{ '{:.2f}'.format(calc.BaseRoyaltyVolume) }}</td>
                <td>*</td>
                <td>{{ '{:.6%}'.format(well_lease_link.PEFNInterest) }}</td>
                <td>*</td>
                <td>{{ '{:.6f}%'.format(rtp_info.Percent)}}</td>
                <td>*</td>
                <td>{{ '{:>10,.6f}\n'.format(calc.RoyaltyPrice) }}</td>
            </tr>
            <tr align="center">
                <td>R$</td>
                <td>=</td>
                <td> $ {{ '{:>10,.2f}\n'.format(calc.BaseRoyaltyValue) }}</td>
            </tr>
        </table>
    {% endif %}

    {#
        --- IOGR1995 --- Supplementary Royalty
    #}

    {% if 'IOGR1995' in rm.RoyaltyScheme and m.Product == 'OIL'%}
        {% if calc.CommencementPeriod <= 5 %}
            <br>
            IOGR 1995 Supplementary Royalties<br>
            <table>
                <tr align="center">
                    <td>S$</td>
                    <td>=</td>
                    <td>(T</td>
                    <td>-</td>
                    <td>B)</td>
                    <td>*</td>
                    <td>0.50</td>
                    <td>*</td>
                    <td>(P</td>
                    <td>-</td>
                    <td>R)</td>
                </tr>
                <tr align="center">
                    <td>S$</td>
                    <td>=</td>
                    <td>({{ '{:.2f}'.format(m.ProdVol) }}</td>
                    <td>-</td>
                    <td>{{ '{:.2f}'.format(calc.BaseRoyaltyVolume) }})</td>
                    <td>*</td>
                    <td>0.50</td>
                    <td>*</td>
                    <td> ??? ({{ '{:>10,.6f}\n'.format(m.SalesPrice) }}</td>
                    <td>-</td>
                    <td> 25.00)</td>
                </tr>
                <tr align="center">
                    <td>S$</td>
                    <td>=</td>
                    <td> $ {{ '{:>10,.2f}\n'.format(calc.SuppRoyaltyValue) }}</td>
                </tr>
            </table>
        {% endif %}
    {% endif %}

    {% if 'IOGR1995' in rm.RoyaltyScheme and m.Product == 'GAS'%}
        <br>
        IOGR 1995 Supplementary Royalties<br>
        <table>

            {% if m.SalesPrice < 10.65 %}
                <tr><td align ="right">10.65 > SalesPrice < 24.85: RVol</td> <td align="center">=</td> <td align="left">0</td></tr>
                <tr><td align ="right">RVol</td> <td align="center">=</td> <td align="left">{{ calc.SuppRoyaltyValue }}</td></tr>
            {% elif m.SalesPrice > 10.65 and m.SalesPrice < 24.85 %}
                <tr><td align ="right">10.65 > SalesPrice < 24.85: RVol</td> <td align="center">=</td> <td align="left">30% * (SalesPrice - $10.65)</td></tr>
                <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">30% * ({{ '{:.2f}'.format(m.SalesPrice) }} - $10.65)</td></tr>
                <tr><td align ="right">RVol</td> <td align="center">=</td> <td align="left">{{ calc.SuppRoyaltyValue }}</td></tr>
            {% elif m.SalesPrice > 24.85 %}
                <tr><td align ="right">SalesPrice > 24.85: RVol</td> <td align="center">=</td> <td align="left">$4.26 + 55% * (SalesPrice - $27.68)</td></tr>
                <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">$4.26 + 55% * ({{ '{:.2f}'.format(m.SalesPrice) }} - $27.68)</td></tr>
                <tr><td align ="right">RVol</td> <td align="center">=</td> <td align="left">{{ calc.SuppRoyaltyValue }}</td></tr>
            {% endif %}

        </table>
    {% endif %}

    {#
        --- OIL - GORR $
    #}

    {% if m.Product == 'OIL' and 'GORR' in rm.RoyaltyScheme %}
        <br>
        <table>
            <tr>
                <td>GORR =</td>
                <td colspan="9"> {{ calc.GorrMessage }} </td>
            </tr>
            <tr>
                <td> </td>
                <td style="text-align:center">GORR %</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">Prod Vol</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">PE FN %</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">RP %</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">RVal</td>
            </tr>
            <tr>
                <td> </td>
                <td style="text-align:center"> {{ '{:.6%}'.format(calc.GorrRoyaltyRate) }}</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">{{ '{:.2f}'.format(m.ProdVol) }}</td>
                <td>*</td>
                <td>{{ '{:.6%}'.format(well_lease_link.PEFNInterest) }}</td>
                <td>*</td>
                <td>{{ '{:.6f}%'.format(rtp_info.Percent)}}</td>
                <td>*</td>
                <td>{{ '{:>10,.6f}\n'.format(calc.RoyaltyPrice) }}</td>
            </tr>
            <tr>
                <td> </td>
                <td style="text-align:center">$ {{ '{:>10,.2f}\n'.format(calc.GorrRoyaltyValue)}}</td>
            </tr>
        </table>

        {# --- OIL / SKProvCrownVar / Transportation #}

        {% if calc.TransGorrValue > 0 %}
            <br>
            <table>
                <tr>
                    <td>GORR Transportation =</td>
                    <td style="text-align:center">GORR %</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">Prod Vol</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">PE FN %</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">RP %</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">Trans Price</td>
                </tr>
                <tr>
                    <td> </td>
                    <td style="text-align:center"> {{ '{:.6%}'.format(calc.GorrRoyaltyRate) }}</td>
                    <td style="text-align:center">*</td>
                    <td style="text-align:center">{{ '{:.2f}'.format(m.ProdVol) }}</td>
                    <td>*</td>
                    <td>{{ '{:.6%}'.format(well_lease_link.PEFNInterest) }}</td>
                    <td>*</td>
                    <td>{{ '{:.6f}%'.format(rtp_info.Percent)}}</td>
                    <td>*</td>
                    <td>{{ '{:>10,.6f}\n'.format(m.TransRate) }}</td>
                </tr>
                <tr>
                    <td> </td>
                    <td style="text-align:center">$ {{ '{:>10,.2f}\n'.format(calc.TransGorrValue)}}</td>
                </tr>
            </table>
        {% endif %}
    {% endif %}


    {#
        Gross Royalty
    #}
    <br>
    <table>

        {% if calc.GrossRoyaltyValue != calc.NetRoyaltyValue %}
            <tr>
                <td colspan="2"><b>Gross Royalty: </b> </td>
                <td colspan="5"> </td>
                <td align="right"> <b>${{ '{:>10,.2f}\n'.format(calc.GrossRoyaltyValue) }} </b> </td>
            </tr>
        {% endif %}

        {% if calc.TransBaseValue > 0 %}
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>Less Base Transportation:</td>
                <td align="right">${{ '{:>10,.2f}\n'.format(calc.TransBaseValue) }}</td>
                <td> </td>
            </tr>
        {% endif %}

        {% if calc.TransGorrValue > 0 %}
            <tr>
                <td>&nbsp&nbsp&nbsp&nbsp</td>
                <td>Less GORR Transportation:</td>
                <td align="right">${{ '{:>10,.2f}\n'.format(calc.TransGorrValue) }}</td>
                <td> </td>
            </tr>
        {% endif %}

        <tr>
            <td colspan="2"> <b>Net Royalty: </b> </td>
            <td colspan="6" align="right"> <b> ${{ '{:>10,.2f}\n'.format(calc.NetRoyaltyValue) }} </b> </td>
        </tr>
    </table>
        <br>
        {*** Note: Handle Incentives} <br>
        {*** Note: Handle Previous Paid Amount?} <br>
    </div>

    <div align="center">

    <h1>---------- Test Area -------------</h1>




    </div>

    </body>
</html>

