<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=UnifrakturMaguntia">
	<link rel="stylesheet" href={{url_for("static", filename="css/jqmath-0.4.3.css")}}>

	<script src={{url_for("static", filename="js/jquery-2.1.4.min.js")}}></script>
	<script src={{url_for("static", filename="js/jqmath-etc-0.4.3.min.js")}}></script>
<style>

h1 {
    font-family: arial;
    padding: 3;
    font-size: 120%
}
p1  {
    font-family: arial;
    font-size: 80%;
}


div {
    font-family: arial;
    font-size: 13px;
    align: center;
}

table{
    padding:1;

}

td{
    padding:1px;
    margin:0;
}

th{
   margin:0;
   padding:1px;
}

fmath {
    font-family: arial;
    line-height: inherit;
}

</style>
</head>
<body>


<h1 align="center">Well: {{ well.ID }} Royalty Payor: {{ m.RPBA }} <br>
	  {{ well.WellEvent }} - {{ ba.CorpShortName }}</h1>

<!--<p1>-->
<div align="center">

<TABLE>
	<col width="25%">
	<col width="25%">
	<col width="25%">
	<col width="25%">
    {#
        --- Top Left of Page
    #}
    <tr>
        <td align="right" colspan="2">
            <table align="center" style="max-width:600px;">
                <tr>
                    <th align="right" width="150">Lease:</th> <td>{{ lease.Lease }}</td>
                </tr>
                <tr>
                    <th align="right">Right:</th> <td>{{ rm.RightsGranted }}</td>
                </tr>
                <tr>
                    <th align="right">Province:</th> <td>{{ well.Prov }}</td>
                </tr>
                <tr>
                    <th align="right">Royalty Base:</th> <td>{{ rm.RoyaltyScheme }}</td>
                </tr>
                <tr>
                    <th align="right">Crown Multiplier:</th> <td>{{ '{:.2f}'.format(rm.CrownMultiplier) }}</td>
                </tr>
                <tr>
                    <th align="right">PE FN Interest:</th> <td>{{ '{:.6%}'.format(well_lease_link.PEFNInterest) }}</td>
                </tr>
                <tr>
                    <th align="right">Royalty Payor Percent:</th> <td>{{ '{:.6f}%'.format(rtp_info.Percent) }}</td>
                </tr>
                {% if rm.MinRoyaltyRate %}
                    <tr>
                        <th align="right">Min Royalty Rate:</th> <td>{{  '{:.6%}'.format(rm.MinRoyaltyRate) }}</td>
                    </tr>
                {%endif%}
                {% if rm.MinRoyaltyDollar %}
                    <tr>
                        <th align="right">Min Royalty Dollar:</th> <td>{{  '{:.2f}'.format(rm.MinRoyaltyDollar) }}</td>
                    </tr>
                {%endif%}
                {% if rm.CrownModifier %}
                    <tr>
                        <th align="right">Crown Modifier:</th> <td>{{  '{:.6%}'.format(rm.CrownModifier) }}</td>
                    </tr>
                {%endif%}
            </table>
        </td>
    {#
        --- Top Right of Page
    #}
        <td align="left" colspan="2">
            <table align="center">
                {% if well.SRC != None and 'SKProvCrownVar' in rm.RoyaltyScheme %}
                    <tr>
                        <th align="right">SRC:</th> <td> {{ well.SRC }} </td>
                    </tr>
                {% endif %}
                {% if well.Classification != None and 'SKProvCrownVar' in rm.RoyaltyScheme %}
                    <tr>
                        <th align="right">Area Classification:</th> <td> {{ well.Classification }} </td>
                    </tr>
                {% endif %}
                {% if well.RoyaltyClassification != None and 'SKProvCrownVar' in rm.RoyaltyScheme %}
                    <tr>
                        <th align="right">Royalty/Tax Classification:</th> <td> {{ well.RoyaltyClassification }} </td>
                    </tr>
                {% endif %}
                {% if well.WellType != None and 'SKProvCrownVar' in rm.RoyaltyScheme %}
                    <tr>
                        <th align="right">Well Type:</th> <td> {{ well.WellType }} </td>
                    </tr>
                {% endif %}
                <tr>
                    <th align="right">Price Based On:</th> <td> {{ calc_sp.PriceBasedOn }} </td>
                </tr>
                <tr>
                    <th align="right">Value Based On:</th> <td> {{ calc_sp.ValueBasedOn }} </td>
                </tr>
                <tr>
                    <th align="right">Royalty Based On:</th> <td> {{ calc_sp.RoyaltyBasedOn }} </td>
                </tr>

                <tr>
                    <th align="right">Valuation Method:</th>
                    <td>
                        {% if calc.RoyaltyPriceExplanation %}
                            {{ calc.RoyaltyPriceExplanation }}
                        {% else %}
                            {{ rm.PriceBasedOn }}
                        {% endif %}
                    </td>
                </tr>
                {% if well.CommencementDate != None %}
                    <tr>
                        <th align="right">Commencement Date:</th> <td> {{ well.CommencementDate }} </td>
                    </tr>
                {% endif %}
                {% if calc.CommencementPeriod != None %}
                    <tr>
                        <th align="right">Commencement Period:</th> <td> {{ calc.CommencementPeriod }} </td>
                    </tr>
                {% endif %}
                {% if  m.Product == 'OIL' and rm.BaseTrans != None %}
                    <tr>
                        <th align="right">Base Trans:</th> <td> {{ rm.BaseTrans }} </td>
                    </tr>
                {% endif %}
                {% if  m.Product == 'OIL' and rm.GorrTrans != None %}
                    <tr>
                        <th align="right">Gorr Trans:</th> <td> {{ rm.GorrTrans }} </td>
                    </tr>
                {% endif %}
                {% if  m.Product == 'GAS' and rm.BaseGCA != None %}
                    <tr>
                        <th align="right">Base GCA:</th> <td> {{ rm.BaseGCA }} </td>
                    </tr>
                {% endif %}
                {% if  m.Product == 'GAS' and rm.GorrGCA != None %}
                    <tr>
                        <th align="right">GORR GCA:</th> <td> {{ rm.GorrGCA }} </td>
                    </tr>
                {% endif %}
                </table>
            </td>
   </TR>

</TABLE>

<!--<head>-->
<style>
table, th, td {
    border-collapse: collapse;
}

</style>

<!--</head>-->

    <TABLE style="width:700" border="1">
        <colgroup>
            <col span="8" width="100" align="right">
        </colgroup>


	<h3>Monthly Data</h3>

    {#
        --- Monthly Data
    #}

   <TR>
      <th>Extract Date</th>
      <th>Prod. Month</th>
	   <th>Amend No.</th>
	   <th>Prod.</th>
	   <th>Prod Vol.</th>
	   <th>Sales Vol.</th>
       {% if m.Product == 'GAS' %}
    	   <th>Heat</th>
    	   <th>GJ</th>
    	   <th>GCA Rate</th>
       {% endif %}
	   <th>Sales Price</th>
	   <th>Trans Price</th>
	   <th>Processing Price</th>
   </TR>

	<tr>
        <td align="center">{{ m._format.yyyy_mm_dd(m.ExtractMonth) }}</td>
        <td align="center">{{ m._format.ProdMonth }}</td>
	    <td align="center">{{ m.AmendNo }}</td>
	    <td align="center">{{ m.Product }}</td>
	    <td align="center">{{ '{:.2f}'.format(m.ProdVol) }}</td>
	    <td align="center">{{ '{:.2f}'.format(m.SalesVol) }}</td>
       {% if m.Product == 'GAS' %}
            <td align="center">
            {% if m.Heat %}
                {{ '{:.2f}'.format(m.Heat) }}
            {% else %}
                0.0
            {% endif %}
            </td>
            <td align="center">
            {% if m.GJ %}
                {{ '{:.2f}'.format(m.GJ) }}
            {% else %}
                0.0
            {% endif %}
            </td>
            <td align="center">
            {% if m.GCARate %}
                {{ '{:.2f}'.format(m.GCARate) }}
            {% else %}
                0.0
            {% endif %}
            </td>
       {% endif %}
	    <td align="center">{{ '{:>10,.6f}\n'.format(m.SalesPrice) }}</td>
	    <td align="center">{{ '{:>10,.6f}\n'.format(m.TransRate) }}</td>
	    <td align="center">{{ '{:>10,.6f}\n'.format(m.ProcessingRate) }}</td>
    </tr>

    </TABLE>

    {#
        --- SKProvCrownVar Oil
    #}

    {% if 'SKProvCrownVar' in rm.RoyaltyScheme and m.Product == 'OIL' %}
        <h3>SKProv Crown Oil</h3>
        <TABLE>

            {% if calc.RoyaltyClassification == 'Fourth Tier' and m.ProdVol <= 25.0 %}
                <tr><td> {{ calc.Message }}<td><tr>
            {% elif calc.RoyaltyClassification == 'Fourth Tier' and m.ProdVol <= 136.2 %}
                <tr><td align="right">CR% =</td> <td align="center">(C * {{calc_sp.SaskProvBasedOn}}) - D</td></tr>
                <tr><td align="right">CR% =</td> <td align="center">&nbsp;&nbsp;({{ '{:.4f}'.format(calc.C) }} * {{ '{:.2f}'.format(calc.RoyaltyBasedOnVol) }}) - {{'{:.2f}'.format(calc.D)}}</td></tr>
                <tr><td align="right">CR% =</td> <td align="center"> {{'{:.6%}'.format(calc.BaseRoyaltyCalcRate) }}</td></tr>
            {% elif calc.RoyaltyClassification == 'Fourth Tier' %}
                <tr><td align="left"> CR% = </td> <td>$$ (K - X / { {{calc_sp.SaskProvBasedOn}} } ) $$ </td></tr>
                <tr><td align="left"> CR% = </td> <td>$$ ( {{'{:.2f}'.format(calc.K)}} -
                    {{ calc.X }} / {{ '{:.2f}'.format(calc.RoyaltyBasedOnVol) }} ) $$ </td></tr>
                <tr><td align="left"> CR% = </td><td align="center"> {{ '{:.6%}'.format(calc.BaseRoyaltyCalcRate) }} </td></tr>
            {% else %}
                <tr><td align="left"> CR% = </td> <td>$$ (K - X / { {{calc_sp.SaskProvBasedOn}} } ) - SRC $$ </td></tr>
                <tr><td align="left"> CR% = </td> <td>$$ ( {{'{:.2f}'.format(calc.K)}} -
                    {{ calc.X }} / {{ '{:.2f}'.format(calc.RoyaltyBasedOnVol) }} ) - {{ well.SRC }} $$ </td></tr>
                <tr><td align="left"> CR% = </td><td align="center"> {{ '{:.6%}'.format(calc.BaseRoyaltyCalcRate) }} </td></tr>
            {% endif %}
            {% if rm.CrownModifier %}
                <tr><td align="left"> Crown Modifier% = </td><td align="center"> {{ '{:.6%}'.format(rm.CrownModifier) }} </td></tr>
            {%endif%}

        </TABLE>

    {% endif %}

    {#
        SaskProvCrownVar Gas
    #}

    {% if 'SKProvCrownVar' in rm.RoyaltyScheme and m.Product == 'GAS' %}

        <h3>SKProvCrown Gas</h3>

        Product: {{ m.Product }} Well Type: {{ well.WellType }} Royalty Classification: {{ calc.RoyaltyClassification }}
        <TABLE>
            <!--{% set well_type = 'Oil' %}-->
            {% if calc.RoyaltyClassification == 'Fourth Tier' and well.WellType == 'Gas' %}
                {% if m.ProdVol <= 25.0 %}
                    <tr><td>{{ calc.Message }}<td><tr>
                {% elif m.ProdVol <= 115.4 %}
                    <tr><td align="right">CR% =</td> <td align="center">$$(C_g * MGP) - D_g$$</td></tr>
                    <tr><td align="right">CR% =</td> <td align="center">&nbsp;&nbsp;({{ '{:.4f}'.format(calc.C) }} * {{ '{:.2f}'.format(m.ProdVol) }}) - {{'{:.2f}'.format(calc.D)}}</td></tr>
                    <tr><td align="right">CR% =</td> <td align="center"> {{'{:.6%}'.format(calc.BaseRoyaltyCalcRate) }}</td></tr>
                {% else %}
                    <tr><td align="left"> CR% = </td> <td>$$ (K_g - X_g / {MGP} ) $$ </td></tr>
                    <tr><td align="left"> CR% = </td> <td>$$ ( {{'{:.2f}'.format(calc.K)}} -
                        {{ calc.X }} / {{ '{:.2f}'.format(m.ProdVol) }} ) $$ </td></tr>
                    <tr><td align="left"> CR% = </td><td align="center"> {{ '{:.6%}'.format(calc.BaseRoyaltyCalcRate) }} </td></tr>
                {% endif %}
            {% elif calc.RoyaltyClassification == 'Fourth Tier' and well.WellType == 'Oil' %}
                {% if m.ProdVol <= 64.7 %}
                    <tr><td> {{ calc.Message }}<td><tr>
                {% else %}
                    <tr><td align="left"> CR% = </td> <td>$$ (K_g - X_g / {MGP} ) $$ </td></tr>
                    <tr><td align="left"> CR% = </td> <td>$$ ( {{'{:.2f}'.format(calc.K)}} - {{ calc.X }} / {{ '{:.2f}'.format(m.ProdVol) }} ) $$ </td></tr>
                    <tr><td align="left"> CR% = </td><td align="center"> {{ '{:.6%}'.format(calc.BaseRoyaltyCalcRate) }} </td></tr>
                {% endif %}
            {% elif calc.RoyaltyClassification == 'Third Tier' or calc.RoyaltyClassification == 'New' or calc.RoyaltyClassification == 'Old' %}
                {% if m.ProdVol <= 115.4 %}
                    <tr><td align="right">CR% =</td> <td align="center">$$(C_g * MGP) - SRC$$</td></tr>
                    <tr><td align="right">CR% =</td> <td align="center">&nbsp;&nbsp;({{ '{:.4f}'.format(calc.C) }} * {{ '{:.2f}'.format(m.ProdVol) }}) - {{'{:.2f}'.format(well.SRC)}}</td></tr>
                    <tr><td align="right">CR% =</td> <td align="center"> {{'{:.6%}'.format(calc.BaseRoyaltyCalcRate) }}</td></tr>
                {% else %}
                    <tr><td align="left"> CR% = </td> <td>$$ ((K_g - X_g / {MGP} ) - SRС) $$ </td></tr>
                    <tr><td align="left"> CR% = </td> <td>$$ ( ({{'{:.2f}'.format(calc.K)}} -
                        {{ calc.X }} / {{ '{:.2f}'.format(m.ProdVol) }}) - SRC ) $$ </td></tr>
                    <tr><td align="left"> CR% = </td><td align="center"> {{ '{:.6%}'.format(calc.BaseRoyaltyCalcRate) }} </td></tr>
                {% endif %}
            {% endif %}

        </TABLE>
    {% endif %}

    {% if 'SKProvCrownVar' in rm.RoyaltyScheme %}

        <h3>Well Valuation</h3>

        {{ calc_sp._format.html_lf(calc_sp.WellValueForRoyaltyExplanation) | safe}}

    {% endif %}

    {% if 'SKProvCrownVar' in rm.RoyaltyScheme and m.Product == 'GAS' %}

        <h3>SKProvCrown Valuation</h3>
        <table>
            <tr>
                <td>Base Royalty =</td>
                <td style="text-align:center"> CR%</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">CMult</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">PE FN %</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">RP %</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">RVal</td>
            </tr>
            <tr>
                <td>Base Royalty =</td>
                <td style="text-align:center"> {{ '{:.6%}'.format(calc.BaseRoyaltyRate) }}</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">{{ '{:.2f}'.format(rm.CrownMultiplier) }}</td>
                <td>*</td>
                <td>{{ '{:.6%}'.format(calc.PEFNInterest) }}</td>
                <td>*</td>
                <td>{{ '{:.6%}'.format(calc.RTPInterest)}}</td>
                <td>*</td>
                <td>{{ '{:>10,.2f}\n'.format(calc_sp.WellValueForRoyalty) }}</td>
            </tr>
            <tr>
                <td>Base Royalty =</td>
                <td style="text-align:center">\$ {{ '{:>10,.2f}'.format(calc.BaseRoyaltyValue)}}</td>
            </tr>
        </table>
    {% endif %}

    {#
        --- OIL - SKProvCrownVar - Base Royalty $
    #}

    {% if m.Product == 'OIL' and 'SKProvCrownVar' in rm.RoyaltyScheme %}
        <h3>SKProvCrown Valuation</h3>

        <table>
            <tr>
                <td>Base Royalty =</td>
                <td style="text-align:center"> CR%</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">CMult</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">PE FN %</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">RP %</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">Value</td>
            </tr>
            <tr>
                <td>Base Royalty =</td>
                <td style="text-align:center"> {{ '{:.6%}'.format(calc.BaseRoyaltyRate) }}</td>
                <td style="text-align:center">*</td>
                <td style="text-align:center">{{ rm.CrownMultiplier }}</td>
                <td style="text-align:center">*</td>
                <td>{{ '{:.6%}'.format(well_lease_link.PEFNInterest) }}</td>
                <td>*</td>
                <td>{{ '{:.6f}%'.format(rtp_info.Percent)}}</td>
                <td>*</td>
                <td>{{ '{:>10,.2f}\n'.format(calc_sp.WellValueForRoyalty) }}</td>
            </tr>
            <tr>
                <td>Base Royalty =</td>
                <td style="text-align:center">\$ {{ '{:>10,.2f}'.format(calc.BaseRoyaltyValue)}}</td>
            </tr>
        </table>

    {% endif %}

    {#
        --- IOGR 1995 --- Oil Royalty Volume
    #}

    {% if 'IOGR1995' in rm.RoyaltyScheme and m.Product == 'OIL' %}
        <h3>IOGR1995 Oil</h3>
        {{ calc_sp._format.html_lf(calc_sp.BaseRoyaltyMessage) | safe}}
    {% endif %}
    {#
        --- IOGR 1995 --- Gas, Pen, Sul Royalty Volume
    #}

    {% if 'IOGR1995' in rm.RoyaltyScheme and (m.Product == 'GAS' or m.Product == 'PEN' or m.Product == 'SUL') %}
        <h3>IOGR1995 {{ m.Product }}</h3>
        <b>IOGR1995 Basic Gross Royalty</b>
        <br>
        <TABLE align="center" style="width:100">
            <tr>
                <td align = "right">Basic royalty</td>
                <td align = "center">=</td>
                <td align = "left">25% * </td>
                <td>Gas Volume</td>
                <td>*</td>
                <td>Selling Price</td>
                <td>*</td>
                <td>PE FN %</td>
                <td>*</td>
                <td>RP%</td>
            </tr>
            <tr>
                <td align = "right">Basic royalty</td>
                <td align = "center">=</td>
                <td align = "left">25% * </td>
                <td>{{ '{:.2f}'.format(calc.RoyaltyBasedOnVol) }}</td>
                <td>*</td>
                <td>\${{ '{:.6f}'.format(m.SalesPrice) }}</td>
                <td>*</td>
                <td>{{ '{:.6%}'.format(calc.PEFNInterest) }}</td>
                <td>*</td>
                <td>{{ '{:.6%}'.format(calc.RTPInterest)}}</td>
            </tr>
            <tr>
                <td align = "right">Basic royalty</td>
                <td align = "center">=</td>
                <td align = "left">\$ {{ calc.IogrBaseRoyaltyValue }}</td>
            </tr>
        </TABLE>
    {% endif %}



    {#
        IOGR1995 Supplemental GAS and other products
    #}

    {% if 'IOGR1995' in rm.RoyaltyScheme and m.Product == 'GAS'%}
        <br>
        <b>IOGR1995 Supplementary Gross Royalty (Marketable gas)</b><br>
        <table>

            {% if m.SalesPrice <= 10.65 %}
                Sales Price <= \$10.65
                <table>
                    <tr>
                        <td align ="right">Supplementary Royalty</td>
                        <td align="center">=</td>
                        <td align="left">0</td>
                    </tr>
                    <tr>
                        <td align ="right">Supplementary Royalty</td>
                        <td align="center">=</td>
                        <td align="left">{{ calc.IogrSuppRoyaltyValue }}</td>
                    </tr>
                </table>
            {% elif m.SalesPrice < 24.85 %}
                Sales Price is > \$10.65 and <= \$24.85:
            ??? Big Note... Fix this royalty display. It needs PEFNPercent and Volume and RTPPercent added ????
                <table>
                    <tr>
                        <td align ="right">Supplementary Royalty</td>
                        <td align="center">=</td>
                        <td align="left">75% * 30% * (SalesPrice - \$10.65)</td>
                    </tr>
                    <tr><td align ="right">Supplementary Royalty</td>
                        <td align="center">=</td>
                        <td align="left">75% * 30% * ({{ '{:.2f}'.format(m.SalesPrice) }} - \$10.65)</td>
                    </tr>
                    <tr><td align ="right">Supplementary Royalty:</td>
                        <td align="center">=</td>
                        <td align="left">{{ calc.IogrSuppRoyaltyValue }}</td>
                    </tr>
                </table>
            {% else %}
                SalesPrice > 24.85
                <table>
                    <tr>
                        <td align ="right">Supplementary Royalty</td>
                        <td align="center">=</td>
                        <td align="left">75% *</td>
                        <td>Gas Volume</td>
                        <td> * (\$4.26 + 55% * (</td>
                        <td>SalesPrice</td>
                        <td> - \$24.85))</td>
                        <td>*</td>
                        <td>PE FN %</td>
                        <td>*</td>
                        <td>RP%</td>
                    </tr>
                    <tr>
                        <td align ="right">Supplementary Royalty</td>
                        <td align="center">=</td>
                        <td align="left">75% *</td>
                        <td>{{ '{:.2f}'.format(calc.RoyaltyBasedOnVol) }}</td>
                        <td> * (\$4.26 + 55% * (</td>
                        <td>\${{ '{:.2f}'.format(m.SalesPrice) }}</td>
                        <td>- \$24.85))</td>
                        <td>*</td>
                        <td>{{ '{:.6%}'.format(calc.PEFNInterest) }}</td>
                        <td>*</td>
                        <td>{{ '{:.6%}'.format(calc.RTPInterest)}}</td>
                    </tr>
                    <tr>
                        <td align ="right">Supplementary Royalty</td>
                        <td align="center">=</td>
                        <td align="left">\$ {{ calc.IogrSuppRoyaltyValue }}</td>
                    </tr>
                </table>
            {% endif %}
    {% endif %}

    {% if 'IOGR1995' in rm.RoyaltyScheme and m.Product == 'PEN'%}
        <br>
        <b>IOGR1995 Supplementary Gross Royalty (Pentanes)</b><br>
        <table>

            {% if m.SalesPrice < 27.68 %}
                <tr><td align ="right">Sales Price < \$27.68: Supplementary Royalty</td> <td align="center">=</td> <td align="left">0</td></tr>
                <tr><td align ="right">Supplementary Royalty</td> <td align="center">=</td> <td align="left">{{ calc.IogrSuppRoyaltyValue }}</td></tr>
            {% elif m.SalesPrice > 27.68 %}
                <tr><td align ="right">SalesPrice > \$27.68: Supplementary Royalty</td> <td align="center">=</td> <td align="left">75% *  50% * (SalesPrice - \$27.68))</td></tr>
                <tr><td align ="right">Supplementary Royalty</td><td align="center">=</td><td align="left">75% * 50% * (\${{ '{:.2f}'.format(m.SalesPrice) }} - \$27.68))</td></tr>
                <tr><td align ="right">Supplementary Royalty</td> <td align="center">=</td> <td align="left">\$ {{ calc.IogrSuppRoyaltyValue }}</td></tr>
            {% endif %}

        </table>
    {% endif %}

    {% if 'IOGR1995' in rm.RoyaltyScheme and m.Product == 'SUL'%}
        <br>
        <b>IOGR1995 Supplementary Gross Royalty (Sulphur)</b><br>
        <table>

            {% if m.SalesPrice < 39.37 %}
                <tr><td align ="right">Sales Price < \$39.37: Supplementary Royalty</td> <td align="center">=</td> <td align="left">0</td></tr>
                <tr><td align ="right">Supplementary Royalty</td> <td align="center">=</td> <td align="left">{{ calc.IogrSuppRoyaltyValue }}</td></tr>
            {% elif m.SalesPrice > 39.37 %}
                <tr><td align ="right">SalesPrice > \$39.37: Supplementary Royalty</td> <td align="center">=</td> <td align="left">75% *  50% * (SalesPrice - \$39.37))</td></tr>
                <tr><td align ="right">Supplementary Royalty</td><td align="center">=</td><td align="left">75% * 50% * (\${{ '{:.2f}'.format(m.SalesPrice) }} - \$39.37))</td></tr>
                <tr><td align ="right">Supplementary Royalty</td> <td align="center">=</td> <td align="left">\$ {{ calc.IogrSuppRoyaltyValue }}</td></tr>
            {% endif %}

        </table>
    {% endif %}

    {#
       Gas Cost Allowance GCA
    #}
    {% if calc.BaseGCAValue > 0.0 %}

    	<h3>Gas Cost Allowance</h3>

        {{ calc_sp._format.html_lf(calc_sp.BaseGCAMessage) | safe}}

    {% endif %}

    {#
       Transportation
    #}
    {% if calc.BaseTransValue > 0.0 %}

    	<h3>Base Transportation</h3>

        {{ calc_sp._format.html_lf(calc_sp.BaseTransMessage) | safe}}

    {% endif %}

    {#
       Base Net Royalty
    #}
    {% if calc.BaseNetRoyaltyValue != calc.BaseRoyaltyValue %}

    	<h3>Base Net Royalty</h3>

        {{ calc_sp._format.html_lf(calc_sp.BaseNetRoyaltyMessage) | safe}}

    {% endif %}

    {#
        GORR
    #}

    {% if 'GORR' in rm.RoyaltyScheme %}

        <hr>

    	<h3>GORR</h3>

        {{ rm._format.html_lf(rm.format_gorr) | safe}}
        <br>
        {{ calc._format.html_lf(calc.GorrMessage) | safe}}
        <br>

        {% if calc_sp.GorrValOrPer == '%' %}

            <h3>Well Valuation</h3>
            {{ calc_sp._format.html_lf(calc_sp.WellValueForRoyaltyExplanation) | safe}}

        {% endif %}

        <h3>GORR Valuation</h3>
        {{ calc_sp._format.html_lf(calc_sp.GorrRoyaltyGrossMessage) | safe}}

        {% if calc_sp.GorrTransValue > 0 %}

            <h3>GORR Transportation</h3>
            {{ calc_sp._format.html_lf(calc_sp.GorrTransMessage) | safe}}

        {% endif %}

        {% if calc_sp.GorrGCAValue > 0 %}

            <h3>GORR GCA</h3>
            {{ calc_sp._format.html_lf(calc_sp.GorrGCAMessage) | safe}}

        {% endif %}

        {% if not calc.GorrGrossRoyaltyValue ==  calc.GorrNetRoyaltyValue %}

            <h3>GORR Net</h3>
            {{ calc_sp._format.html_lf(calc_sp.GorrNetRoyaltyMessage) | safe}}

        {% endif %}
    {% endif %}

        <br>
        {*** Note: Handle Incentives} <br>
        {*** Note: Handle Previous Paid Amount?} <br>
    </div>

    <div align="center">
    </div>

    </body>
</html>

