<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=UnifrakturMaguntia">
	<link rel="stylesheet" href={{url_for("static", filename="css/jqmath-0.4.3.css")}}>

	<script src={{url_for("static", filename="js/jquery-2.1.4.min.js")}}></script>
	<script src={{url_for("static", filename="js/jqmath-etc-0.4.3.min.js")}}></script>
<style>

h1 {
    font-family: arial;
    padding: 3;
    font-size: 120%
}
p1  {
    font-family: arial;
    font-size: 80%;
}


div {
    font-family: arial;
    font-size: 13px;
    align: center;
}

table{
    padding:1;

}

td{
    padding:1px;
    margin:0;
}

th{
   margin:0;
   padding:1px;
}

</style>
</head>


<h1 align="center">Well: {{ well.ID }}<br>
	Well Event: {{ well.WellEvent }}</h1>
<hr> </hr>

<!--<p1>-->
<div>

<TABLE align="center">
	<col width="25%">
	<col width="25%">
	<col width="25%">
	<col width="25%">

    <tr>
      <TD align=right><b>Lease:<br>
      Right:<br>
      Province:<br>
      Royalty Base:<br>
      {% if rm.Gorr %}
      GORR:<br>
      {%endif%}
      Crown Multiplier:<br>
      PE FN Interest:
      </b></td>

      <TD align="left">{{ lease.Lease }}<br>
      {{ rm.RightsGranted }}<br>
      {{ well.Prov }}<br>
      {{ rm.RoyaltyScheme }}<br>
      {% if rm.Gorr %}
      {{ rm.Gorr }}<br>
      {% endif %}
      {{  '{:.2f}'.format(rm.CrownMultiplier) }}<br>
      {{  '{:.6f}'.format(well_lease_link.PEFNInterest*100) }}%
      </TD>

      <TD align=right><b>
      {% if rm.MinRoyalty != None %}
      Min Royalty:<br>
      {% endif %}
      {% if well.SRC != None %}
      SRC:<br>
      {% endif %}
      {% if well.Classification != None %}
      Classification:<br>
      {% endif %}
      {% if well.RoyaltyClassification != None %}
      Royalty Classification:<br>
      {% endif %}
      Valuation Method:<br>
      {% if well.CommencementDate != None %}
      Commencement Date:<br>
      {% endif %}
      {% if calc.CommencementPeriod != None %}
      Commencement Period:<br>
      {% endif %}
      {% if rm.TruckingDeducted == 'Y' %}
      Deductions:<br>
      {% endif %}
      {% if rm.ProcessingDeducted == 'Y' %}
      Deductions:</b></TD>
      {% endif %}


      <TD align="left">
      {% if rm.MinRoyalty != None %}
      {{ rm.MinRoyalty }}<br>
      {% endif %}
      {% if well.SRC != None %}
      {{ well.SRC }}<br>
      {% endif %}
      {% if well.Classification != None %}
      {{ well.Classification }}<br>
      {% endif %}
      {% if well.RoyaltyClassification != None %}
      {{ well.RoyaltyClassification }}<br>
      {% endif %}
      {{ rm.ValuationMethod }}<br>
      {% if well.CommencementDate != None %}
      {{ well._format.yyyy_mm_dd(well.CommencementDate) }}<br>
      {% endif %}
      {% if well.CommencementPeriod != None %}
      {{ calc.CommencementPeriod }}<br>
      {% endif %}
      {% if rm.TruckingDeducted == 'Y' %}
      Trucking<br>
      {% endif %}
      {% if rm.ProcessingDeducted == 'Y' %}
      Processing
      {% endif %}
      </TD>


   </TR>



<head>
<style>
table, th, td {
    border-collapse: collapse;
}

</style>
</head>
<body>


    <TABLE align="center" style="width:700" border="1">

	<caption><b>Monthly Sask Def of</b></caption>
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">

   <TR>
      <TD>Extract Date</TD>
      <TD>Prod. Month</TD>
	   <TD>Amend No.</TD>
	   <TD>Prod.</TD>
	   <TD>Monthly Prod. Vol.</TD>
	   <TD>Well Head Price</TD>
	   <TD>Trucking Price</TD>
	   <TD>Processing Price</TD>
   </TR>

	<TR>
      <TD>{{ m._format.yyyy_mm_dd(m.ExtractMonth) }}</TD>
      <TD>{{ m._format.ProdMonth }}</TD>
	   <TD>{{ m.AmendNo }}</TD>
	   <TD>{{ m.Product }}</TD>
	   <TD>{{ '{:.2f}'.format(m.ProdVol) }}</TD>
	   <TD>{{ '{:>10,.6f}\n'.format(m.WellHeadPrice) }}</TD>
	   <TD>{{ '{:>10,.6f}\n'.format(m.TransRate) }}</TD>
	   <TD>{{ '{:>10,.6f}\n'.format(m.ProcessingRate) }}</TD>
    </TR>

</TABLE>



<br><div align="center">{*** Note: Replace Well Head Price with Petrinex detail when available ***}<br>
{*** Note: Replace Trucking Price with Petrinex detail when available ***}<br>
{*** Note: Replace Processing Price with Petrinex detail when available ***}<br>

    <TABLE width="60">
	<col width="25%">
    <col width="20%">
	<col width="5%">

{% if calc.X > 0 %}
<tr><td align="left"> $$\CR% = $$</td> <td>$$({\K - {\X}/{\MOP} )$$</td><td>$$- {\SRC} $$ </td></tr>

<tr><td align="left"> $$\CR% = $$</td> <td>$$({ {{ '{:.2f}'.format(calc.K) }} } -
    { {{ calc.X }} }/{ {{ '{:.2f}'.format(m.ProdVol) }} } )$$</td><td>$$- { {{ well.SRC }} }$$ </td></tr>

<tr><td align="left"> $$\CR% = $$</td><td>$$ {{ '{:.6f}'.format(calc.ProvCrownRoyaltyRate) }} $$</td></tr>
<br>

{% endif %}

{% if calc.C > 0 %}

    <tr><td align="left">CR% = </td><td colspan="2">(C * MOP) - D</td></tr>
    <tr><td align="left">CR% = </td><td colspan="2">({{'{:.4f}'.format(calc.C)}} * {{ '{:.2f}'.format(m.ProdVol) }}) - {{'{:.2f}'.format(calc.D)}}</td></tr>
    <tr><td align="left">CR% = </td><td colspan="2">{{ '{:.6f}'.format(calc.ProvCrownRoyaltyRate) }}</td></tr>

<br>
</TABLE>

{% endif %}


{% if calc.Message != None %}
{{ calc.Message }}
{% endif %}

{% if rm.RoyaltyScheme == 'IOGR1995' or rm.RoyaltyScheme == 'IOGR1995, GORR'%}
{% if calc.CommencementPeriod != None %}
    <br>
    {% if calc.CommencementPeriod < 5 %}
    Royalty Calc Type: IOGR 1995 with Commencement Period < 5 Years:
    {% else %}
    Royalty Calc Type: IOGR 1995  with Commencement Period >=  5 Years:
    {% endif %}
{% endif %}</div>
    <TABLE align="center" style="width:100">
	<col width="20%">
    <col width="1%">
	<col width="20%">

{% if m.ProdVol < 80 %}
    <tr><td align ="right">MOP < 80: RVol</td> <td align="center">=</td> <td align="left">10% * MOP</td></tr>
    <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">10% * {{ '{:.2f}'.format(m.ProdVol) }}</td></tr>
    <tr><td align ="right">RVol</td> <td align="center">=</td> <td align="left">{{ calc.IOGR1995RoyaltyVolume }}</td></tr>
{% elif m.ProdVol < 160 %}
   <tr><td align="right"> MOP 80 to 160: RVol</td> <td align="center">=</td> <td align="left">8 + [20% * (MOP - 80)]</td></TR>
   <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">8 + [20% * ({{ '{:.2f}'.format(m.ProdVol) }} - 80)]</td></tr>
   <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">{{ '{:.2f}'.format(calc.IOGR1995RoyaltyVolume) }}</td></tr>
{% elif calc.CommencementPeriod < 5 %}
    <tr><td align="right"> MOP > 160: RVol</td> <td align="center">=</td> <td align="left">24 + [26% * (MOP - 160)]</td></tr>
    <tr><td align="right"> RVol</td><td align="center">=</td><td align="left">24 + [26% * ({{ '{:.2f}'.format(m.ProdVol) }} - 160)]</td></tr>
    <tr><td align="right"> RVol</td><td align="center">=</td></td><td align="left">{{ '{:.2f}'.format(calc.IOGR1995RoyaltyVolume) }}</td></tr>
{% elif m.ProdVol < 795 %}
    <tr><td align="right">MOP 160 to 795: RVol</td> <td align="center">=</td> <td align="left">24 + [26% * (MOP - 160)]</td></tr>
    <tr><td align="right">RVol</td><td align="center">=</td> <td align="left">24 + [26% * ({{ '{:.2f}'.format(m.ProdVol) }} - 160)]</td></tr>
    <tr><td align="right">RVol</td><td align="center">=</td> <td align="left">{{ '{:.2f}'.format(calc.IOGR1995RoyaltyVolume) }}</td></tr>
{% else %}
    <tr><td align="right">MOP > 795: RVol </td> <td align="center">=</td> <td align="left">189 + [40% * (MOP - 795)]</td></tr>
    <tr><td align="right">RVol</td><td align="center">=</td> <td align="left">189 + [40% * ({{ '{:.2f}'.format(m.ProdVol) }} - 795)]</td></tr>
    <tr><td align="right">RVol</td><td align="center">=</td> <td align="left">{{ '{:.2f}'.format(calc.IOGR1995RoyaltyVolume) }}</td></tr>

</TABLE>
{% endif %}
{% endif %}


<table width="320">
	<col width="30%">
	<col width="4%">
	<col width="4%">
    <col width="4%">
    <col width="4%">
	<col width="4%">
	<col width="4%">
	<col width="4%">
	<col width="4%">
	<col width="10%">


{% if m.Product == 'Oil' and 'SKProvCrownVar' in rm.RoyaltyScheme %}
<br>


<tr><td align="left" style="text-align:left">RVol =</td><td style="text-align:center"> CR%</td> <td style="text-align:center">*</td>
    <td style="text-align:center">CMult</td> <td style="text-align:center">*</td> <td style="text-align:center">ProdVol</td>
    <td style="text-align:center">*</td> <td style="text-align:center">PE FN %</td></tr>
<tr><td align="left" style="text-align:left">RVol =</td><td style="text-align:center"> {{ '{:.6f}'.format(calc.ProvCrownUsedRoyaltyRate) }}%</td>
    <td style="text-align:center">*</td> <td style="text-align:center">{{ rm.CrownMultiplier }}</td> <td style="text-align:center">*</td>
    <td style="text-align:center">{{ '{:.2f}'.format(m.ProdVol) }}</td> <td>*</td> <td>{{ '{:.6f}'.format(well_lease_link.PEFNInterest*100) }}%</td></tr>
<tr align="left" style="text-align:left"><td>RVol =</td> <td style="text-align:center">{{ '{:.2f}'.format(calc.ProvCrownRoyaltyVolume) }}</td></tr>
{% endif %}

{% if m.Product == 'Oil' and 'IOGR1995' in rm.RoyaltyScheme %}
{%endif%}
</table>

<table align="center" width="350">
    <col width="30%">
	<col width="4%">
	<col width="4%">
	<col width="4%">
    <col width="4%">
	<col width="4%">
	<col width="4%">

{% if rm.ValuationMethod == 'ActSales' %}
    <br>
    <tr align="center"> <td colspan="7">Valuation Method is ActSales:</tr></tr>
    <tr align="center"><td>RVal =</td> <td>WellHeadPrice</td> <td>+</td> <td>TransRate</td> <td>+</td> <td>ProcessingRate</td></tr>
    <tr align="center"><td>RVal =</td> <td>{{ '{:>10,.6f}\n'.format(m.WellHeadPrice) }}</td> <td>+</td> <td>{{ '{:>10,.6f}\n'.format(m.TransRate) }}</td> <td>+</td> <td>{{ '{:>10,.6f}\n'.format(m.ProcessingRate) }}</td></tr>
    <tr align="center"><td>RVal =</td> <td>{{ '{:>10,.6f}\n'.format(calc.RoyaltyPrice) }}</td></tr>
{% endif %}

    <table align="center" width="200">
    <col width="20%">
	<col width="4%">
	<col width="4%">
	<col width="4%">

{% if m.Product == 'Oil' and 'SKProvCrownVar' in rm.RoyaltyScheme %}
<br>
<tr align="center"><td>R$ =  </td><td>RVol</td><td> * </td><td>RVal</td></tr>
<tr align="center"><td>R$ =  </td><td>{{ '{:.2f}'.format(calc.ProvCrownRoyaltyVolume) }}</td><td> * </td><td>{{ '{:>10,.6f}\n'.format(calc.RoyaltyPrice) }}</td></tr>
<tr align="center"><td>R$ =  </td><td>{{ '{:>10,.2f}\n'.format(calc.ProvCrownRoyaltyValue)}}</td></tr>
{% endif %}

{% if m.Product == 'Oil' and 'IOGR1995' in rm.RoyaltyScheme %}
<tr align="center"><td>R$</td><td>=</td><td>CrownMult</td> <td>*</td> <td>RVol</td> <td>*</td> <td>PE FN %</td> <td>*</td> <td>RVal</td></tr>
<tr align="center"><td>R$</td><td>=</td><td>{{ rm.CrownMultiplier }}</td> <td>*</td> <td>{{ '{:.2f}'.format(calc.IOGR1995RoyaltyVolume) }}</td>
    <td>*</td> <td>{{ '{:.6f}'.format(well_lease_link.PEFNInterest*100) }}%</td> <td>*</td><td>{{ '{:>10,.6f}\n'.format(calc.RoyaltyPrice) }}</td></tr>
<tr align="center"><td>R$</td><td>=</td><td>{{ '{:>10,.2f}\n'.format(calc.IOGR1995RoyaltyValue) }}</td></tr>


    <br>
    {% endif %}
</table>
{% if rm.RoyaltyScheme == 'IOGR1995' or rm.RoyaltyScheme == 'IOGR1995, GORR' %}
{% if calc.CommencementPeriod <= 5 %}
<table align="center" width="200">
    <col width="4%">
	<col width="4%">
	<col width="4%">
	<col width="4%">
    <col width="4%">
    <col width="4%">
	<col width="4%">
	<col width="4%">
	<col width="4%">
    <col width="4%">
    <col width="4%">
    <col width="4%">
    <col width="4%">
<br>
<tr align="center"><td>S$</td> <td>=</td> <td>(T</td> <td>-</td> <td>B)</td> <td>*</td> <td>0.50</td> <td>*</td> <td>(P</td> <td>-</td> <td>R)</td></tr>
<tr align="center"><td>S$</td> <td>=</td> <td>({{ '{:.2f}'.format(m.ProdVol) }}</td> <td>-</td> <td>{{ '{:.2f}'.format(calc.RoyaltyRegulation) }})</td> <td>*</td>
<td>0.50</td> <td>*</td> <td>({{ '{:>10,.6f}\n'.format(m.WellHeadPrice) }}</td> <td>-</td> <td> 25.00)</td></tr>
<tr align="center"><td>S$</td> <td>=</td> <td>{{ '{:>10,.2f}\n'.format(calc.SupplementaryRoyalties) }}</td></tr>
</table>
{% endif %}
{% endif %}


{% if 'GORR' in rm.RoyaltyScheme %}
<table align="center" width="550">
    <col width="8%">
	<col width="4%">
	<col width="4%">
	<col width="4%">
    <col width="4%">
    <col width="4%">
	<col width="4%">
	<col width="4%">
	<col width="10%">
    <col width="4%">
    <col width="4%">
    <col width="8%">
    <caption><center> GORR: {{ calc.GorrMessage }} </center></caption>
<tr align="center"><td></td><td></td><td>GORR$</td> <td>=</td> <td>ProdVol</td> <td>*</td> <td>PE FN %</td> <td>*</td> <td>GORRRoyRate</td> <td>*</td> <td>RVal</td><td></td></tr>
<tr align="center"><td></td><td></td><td>GORR$</td><td>=</td><td>{{ '{:.2f}'.format(m.ProdVol) }}</td> <td>*</td> <td>{{ '{:.6f}'.format(well_lease_link.PEFNInterest*100) }}%</td><td>*</td> <td>{{ '{:.6f}'.format(calc.GorrRoyaltyRate) }}%</td><td>*</td> <td> {{ '{:>10,.6f}'.format(calc.RoyaltyPrice) }} </td><td></td></tr>
<tr align="center"><td></td><td></td><td>GORR$</td><td>=</td><td> {{ '{:.2f}'.format(calc.GorrRoyaltyValue) }}</td></tr>
<br>
    {% endif %}
</table>


<table width="500" align="center">
    <col width="40%">
	<col width="7%">
	<col width="7%">
	<col width="7%">
    <col width="7%">
    <col width="7%">
	<col width="7%">
	<col width="7%">

{% if calc.RoyaltyValuePreDeductions != calc.RoyaltyValue %}
<tr><td align="left" colspan="2">Royalty Pre Deductions:</td> <td colspan="6" align="right">${{ '{:>10,.2f}\n'.format(calc.RoyaltyValuePreDeductions) }}</td></tr>
{% endif %}
{% if calc.RoyaltyTransportation > 0 %}
<tr align="center"><td colspan="2">Less Transportation:</td> <td>{{'{:.2f}'.format(calc.RoyaltyVolume) }}</td> <td>*</td> <td>{{ '{:>10,.6f}\n'.format(m.TransRate) }}</td> <td>=</td> <td>${{ '{:>10,.2f}\n'.format(calc.RoyaltyTransportation) }}</td></tr>
{% endif %}
{% if calc.RoyaltyProcessing > 0 %}
<tr align="Center"><td colspan="2">Less Processing:</td> <td>{{ '{:.2f}'.format(calc.RoyaltyVolume) }}</td> <td>*</td> <td>{{ '{:>10,.6f}\n'.format(m.ProcessingRate) }}</td> <td>=</td> <td>${{ '{:>10,.2f}\n'.format(calc.RoyaltyProcessing) }}</td></tr>
{% endif %}
{% if calc.RoyaltyDeductions > 0 %}
<tr align="Center"><td colspan="2">Total Deductions:</td><td> &nbsp; </td> <td> &nbsp; </td> <td> &nbsp; </td> <td> &nbsp; </td> <td align="center">${{ '{:>10,.2f}\n'.format(calc.RoyaltyDeductions) }}</td></tr>
{% endif %}
<br>
<tr align="left"><td colspan="8"> {*** Note: Handle Incentives} </td></tr>
<tr><td align="left" colspan="2"> Royalty Amount:</td><td colspan="6" align="right">${{ '{:>10,.2f}\n'.format(calc.RoyaltyValue) }}</td></tr>
<tr align="left"><td colspan="8"> {*** Note: Handle Previous Paid Amount?} </td></tr>
</table>

</div>
</body>
</html>

