<doctype html>
<title>Royalties Calcultation</title>
<script src={{url_for("static", filename="jquery-2.1.4.min.js")}}></script>
<script src={{url_for("static", filename="bootstrap.min.js")}}></script>
<link type="text/css" rel="stylesheet" href={{url_for("static", filename="bootstrap.min.css")}}>

<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#sheet1" aria-controls="sheet1" role="tab" data-toggle="tab">Sheet 1</a></li>
	<li role="presentation"><a href="#sheet2" aria-controls="sheet2" role="tab" data-toggle="tab">Sheet 2</a></li>
</ul>

<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="sheet1">
		<h2><a href="/lease">Leases</a></h2>
        
	</div>

	<div role="tabpanel" class="tab-pane" id="sheet2">
		<h2>Sheet Two</h2>
	</div>

</div>

