{% extends "layout.html" %}
<title>Royalty calculation</title>
{% block body %}
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#sheet1" aria-controls="sheet1" role="tab" data-toggle="tab">Leases</a></li>
	<li role="presentation"><a href="#sheet2" aria-controls="sheet2" role="tab" data-toggle="tab">Wells</a></li>
</ul>
<div id="main" class="col-md-3">
<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="sheet1">
		<h2>All leases</h2>
        <ul>
            {% for l in leases %}
                <li><a href="/lease/{{ l }}">{{ l }}</a></li>
            {% endfor %}
        </ul>
	</div>

	<div role="tabpanel" class="tab-pane" id="sheet2">
		<h2>All wells</h2>
        <ul>
            {% for w in wells %}
                <li><a href="/well/{{ w.WellId }}">{{ w.WellId }}</a></li>
            {% endfor %}
        </ul>
	</div>

</div>
</div>
{% endblock %}