<!doctype html>
<title>Python Excel demo app</title>
<script src={{ url_for("static", filename="handsontable.full.js") }}></script>
<link rel="stylesheet" media="screen" href="{{ url_for("static", filename="handsontable.full.css") }}">

<h2>Generic HTML table</h2>
<table border=1>
	{% for row in records %}
	<tr>
		{% for cell in row %}
			<td>{{ cell }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

<hr>

<h2>Handsontable</h2>
<div id="example">
</div>

<script>
var data = {{ records|tojson|safe }};
var container = document.getElementById('example');
var hot = new Handsontable(container, {
  data: data,
  minSpareRows: 0,
  rowHeaders: true,
  colHeaders: true,
  contextMenu: true
});
</script>

<!--
<form action="" method="post">
<input type="hidden" name="data">
<input type="button" value="Save">
</form>
-->
