{% extends 'layout.html' %}
{% block body %}

<h3>Lease {{ lease.ID }}</h3>

<table class="wellmodal table-striped">
    <tr>
        <th>ID</th>
        <th>Lease Type</th>
        <th>Rights Granted</th>
        <th>Royalty Scheme</th>
        <th>Crown Multiplier</th>
        <th>Province</th>
        <th>Lessor</th>
    </tr>
    <tr>
        <td>{{ lease.ID }} </td>
        <td>{{ lease.LeaseType }} </td>
        <td>{{ royaltymaster.RightsGranted }} </td>
        <td>{{ royaltymaster.RoyaltyScheme }} </td>
        <td>{{ royaltymaster.CrownMultiplier }} </td>
        <td>{{ lease.Province }} </td>
        <td>{{ lease.Lessor }} </td>
    </tr>
</table>

&nbsp;

{% if wellevents %}
    <table class="table-striped" style="width:50%">
        <tr>
            <td colspan=3><b>{{wellevents|length}}</b> well events attached:</td>
        </tr>
        <tr>
            <th>Well Event</th>
            <th>Pool Name</th>
            <th>Meridian</th>
        </tr>
        {% for wellevent in wellevents %}
        <tr>
            <td><a href="/wellevent/{{ wellevent.WellEvent }}">{{ wellevent.WellEvent }}</a></td>
            <td>{{ wellevent.PoolName }} </td>
            <td>{{ wellevent.Meridian }} </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock %}