{% extends 'layout.html' %}
{% block body %}

<form>
    <fieldset>
        <legend><h3>Lease {{ lease.LeaseID }}</h3></legend>
        <table cellpadding="5">
            <tr>
                <td><label for="ID">ID</label></td>
                <td><input type="text" id="ID" value="{{ lease.ID }}" disabled /></td>
                <td><label for="LeaseType">Lease Type</label></td>
                <td><input type="text" id="LeaseType" value="{{ lease.LeaseType }}" disabled /></td>
            </tr>
            <tr>
                <td><label for="Province">Province</label></td>
                <td><input type="text" id="Province" value="{{ lease.Prov }}" disabled /></td>
                <td><label for="FNReserve">FNReserve</label></td>
                <td><input type="text" id="FNReserve" value="{{ lease.FNReserve }}" disabled /></td>
            </tr>
            <tr>
                <td><label for="FNBandID">FNBandID</label></td>
                <td><input type="text" id="FNBandID" value="{{ lease.FNBandID }}" disabled /></td>
                <td><label for="Lessor">Lessor</label></td>
                <td><input type="text" id="Lessor" value="{{ lease.Lessor }}" disabled /></td>
            </tr>
            <tr>
                <td><label for="Notes">Notes</label></td>
                <td colspan="3"><input style="width:100%" type="text" id="Notes" value="{{ lease.Notes }}" disabled /></td>
            </tr>
            <tr>
                <td><label for="RightsGranted">Rights Granted</label></td>
                <td><input type="text" id="RightsGranted" value="{{ royaltymaster.RightsGranted }}" disabled /></td>
                <td><label for="RoyaltyScheme">Royalty Scheme</label></td>
                <td><input type="text" id="RoyaltyScheme" value="{{ royaltymaster.RoyaltyScheme }}" disabled /></td>
            </tr>
            <tr>
                <td><label for="CrownMultiplier">Crown Multiplier</label></td>
                <td><input type="text" id="CrownMultiplier" value="{{ royaltymaster.CrownMultiplier }}" disabled /></td>
                <td><label for="ValuationMethod">Valuation Method</label></td>
                <td><input type="text" id="ValuationMethod" value="{{ royaltymaster.ValuationMethod }}" disabled /></td>
            </tr>
        </table>
    </fieldset>
</form>

{% if wellevents %}
<br />
<fieldset>
<legend><h3><b>{{wellevents|length}}</b> well events attached:</h3></legend>
    <ul>
    {% for wellevent in wellevents %}
    <li><a href="/wellevent/{{ wellevent.WellEvent }}">{{ wellevent.WellEvent }}</a></li>
    {% endfor %}
    </ul>
</fieldset>
{% endif %}

{% endblock %}