{% extends "layout.html" %}
{% block body %}

<form>
  <fieldset>
    <legend><h3>Facility {{ facility.Facility }}</h3></legend>
    <table cellpadding=5>
      <tr>
        <td><label for="Facility">Facility</label></td>
        <td><input type="text" id="Facility" value="{{facility.Facility}}" disabled /></td>
        <td><label for="Name">Name</label></td>
        <td><input type="text" id="Name" value="{{facility.Name}}" disabled /></td>
      </tr>
      <tr>
        <td><label for="Subtype">Subtype</label></td>
        <td><input type="text" id="Subtype" value="{{facility.Subtype}}" disabled /></td>
        <td><label for="FacLicense">Facility License</label></td>
        <td><input type="text" id="FacLicense" value="{{facility.FacLicence}}" disabled /></td>
      </tr>
      <tr>
        <td><label for="Meridian">Meridian</label></td>
        <td><input type="text" id="Meridian" value="{{facility.Meridian}}" disabled /></td>
        <td><label for="Range">Range</label></td>
        <td><input type="text" id="Range" value="{{facility.Range}}" disabled /></td>
      </tr>
      <tr>
        <td><label for="Township">Township</label></td>
        <td><input type="text" id="Township" value="{{facility.Township}}" disabled /></td>
        <td><label for="Section">Section</label></td>
        <td><input type="text" id="Section" value="{{facility.Section}}" disabled /></td>
      </tr>
    </table>
  </fieldset>
</form>

{% if wellevents %}
<br/>
<fieldset>
<legend><h3><b>{{wellevents|length}}</b> well events attached:</h3></legend>
    <ul>
    {% for wellevent in wellevents %}
    <li><a href="/wellevent/{{ wellevent.WellEvent }}">{{ wellevent.WellEvent }}</a></li>
    {% endfor %}
    </ul>
</fieldset>
{% endif %}

{% endblock %}