<html>
<head>
<link type="text/css" rel="stylesheet" href={{url_for("static", filename="css/style.css")}}>
</head>
<body class="bodyMainMVC">

<div class="bannerContent">
<div class="bannerLeft"> <img src="{{url_for("static", filename="img/logo.png")}}" height='40'px> </div>
<div class="bannerCenter">The Solution Stack<div class="bannerSubTitle">Information Management System</div></div>
<div class="bannerRight">
	Welcome Your Name<br> <br>
	<a  href="#" alt="Not quit working yet" />Logout</a>
	<a  href="#" alt="Not quit working yet" />My Account</a>
	<a  href="#" alt="Not quit working yet" />FAQ</a>
</div>
</div>

<!-- Define the top nav bar -->

<ul id="topnavID" class="topnav">
	<li class="topnav" link="admin">Administration</li>
	<li class="topnav" link="infrastructure">infrastructure</li>
	<li class="topnav">Reports</li>
	<li class="topnav">Support</li>
	<li id="consAppend" link="consoleEl" class="topnav">Quick Search</li>
	<li class="topnav" link="data">Data</li>
	<li class="topnav" link="consoleEl">Console</li>
	<li id="clear" link="consoleEl" class="topnav">Clear</li>
</ul>


<!-- Keep the space for the menu pages -->

<div id="pageMenu" class="pageMenuSpaceKeeper">

<!-- ---------------------
-  
- Define the Administration nav page
- 
-------------------------- -->

<div id="admin" class="fullwidth">
<div class="pagenav3"> </div>
<div class="pagenav3">
<h2 class="pagenav">Donec id mollis</h2>
<ul>
<li class="pagenav3" link="security">Security</li>
<li class="pagenav3">In sem elit</li>
<li class="pagenav3">blandit</a></li>
<li class="pagenav3">vel est utl</a></li>
</ul>
</div>

<div class="pagenav3">
<h2 class="pagenav">Donec id mollis erat,</h2>
<ul>
<li class="pagenav3">eu commodo nulla</a></li>
<li class="pagenav3">In sem elit</a></li>
<li class="pagenav3">blandit</a></li>
<li class="pagenav3">vel est utl</a></li>
</ul>
</div>
</div>

<!-- ---------------------
-  
- Define the Infrastructure nav page
- 
-------------------------- -->

<div id="infrastructure" class="fullwidth">
<div class="pagenav3"> </div>
<div class="pagenav3">
<h2 class="pagenav">Cras ullamcorper</h2>
<ul>
<li class="pagenav3" link="well">Well</li>
<li class="pagenav3">blandit</li>
<li class="pagenav3">vel est utl</li>
</ul>
<h2 class="pagenav">Donec id mollis erat,</h2>
<ul>
<li class="pagenav3">Mauris</li>
<li class="pagenav3">bh vitae ullamcorper sollicitudin</li>
<li class="pagenav3"> et magni</li>
<li class="pagenav3">blandit</li>
<li class="pagenav3">Quisque ege</li>
<li class="pagenav3">eu commodo nulla</li>
</ul>
</div>

<div class="pagenav3">
<h2 class="pagenav">scelerisque</h2>
<ul>
<li class="pagenav3">fermentum</li>
<li class="pagenav3">Curabitur</li>
<li class="pagenav3">In hac</li>
<li class="pagenav3">vel est utl</li>
</ul>
</div>

<div class="pagenav3">
<h2 class="pagenav">elerisque</h2>
<ul>
<li class="pagenav3">fmentum</li>
<li class="pagenav3">Curitur</li>
<li class="pagenav3">In hc</li>
<li class="pagenav3">el est utl</li>
</ul>
</div>

<div class="pagenav3">
<h2 class="pagenav">scelerisque</h2>
<ul>
<li class="pagenav3">fermentum</li>
<li class="pagenav3">Curabitur</li>
<li class="pagenav3">In hac</li>
<li class="pagenav3">vel est utl</li>
</ul>
</div>

<div class="pagenav3">
<h2 class="pagenav">elerisque</h2>
<ul>
<li class="pagenav3">fmentum</li>
<li class="pagenav3">Curitur</li>
<li class="pagenav3">In hc</li>
<li class="pagenav3">el est utl</li>
</ul>
</div>
</div>
</div>

</div>

<div id="data" class="fullwidth">
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
This is the data division and I could put lots and lots and lots of stuff in here.
</div>

<div id="consoleEl" class"fullwidth">programer info</div>


<script src="sample.js"></script>
<script src={{url_for("static", filename="js/common.js")}}></script>

</body>
</html>