{% extends "layout.html" %}
{% block body %}

<script>
	// var li = document.getElementById('lease');
	// li.className += " active";
</script>

<div class="row">
	<div class="col-sm-6">
		<h2>Lease {{ lease.Lease }}</h2>
	</div>
	<div class="col-sm-6">
		</br>
		<p style="text-align:right">Effective to: 9999-99</p>
		</br>
	</div>
</div>
<br>
<form class="form-horizontal">
	<div class="form-group row">
		<div class="col-sm-2">
			<label for="leaseTypeInput" class="control-label">Type</label>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="leaseTypeInput" value={{ lease.LeaseType }}>
		</div>
		<div class="col-sm-2">
			<label for="leaseLessorInput" class="control-label">Lessor</label>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="leaseLessorInput" value={{ lease.Lessor }}>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">
			<label for="leaseIDInput" class="control-label">ID</label>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="leaseIDInput" value={{ lease.LeaseID }}>
		</div>
		<div class="col-sm-2">
			<label for="leaseProvinceInput" class="control-label">Province</label>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="leaseProvinceInput" value={{ lease.Prov }}>
		</div>
	</div>	
	<div class="form-group row">
		<div class="col-sm-offset-6 col-sm-2">
			<label for="leaseFNReserveInput" class="control-label">FN Reserve</label>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="leaseFNReserveInput" value={{ lease.FNReserve }}>
		</div>
	</div>	

<hr>

	<div class="form-group row">
		<div class="col-sm-3">
			<label for="leaseIDInput" class="control-label">Rights granted</label>
		</div>
		<div class="col-sm-4">
			<select class="form-control" id="leaseIDInput">
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>
		<div class="col-sm-5 checkbox">
			<label><input type="checkbox" {% if rm.TruckingDeducted == "Y" or rm.TruckingDeducted == "True" or rm.TruckingDeducted == "Yes" %}checked{% endif %}>Trucking deducted</label>
		</div>
	</div>	

	<div class="form-group row">
		<div class="col-sm-3">
			<label for="leaseIDInput" class="control-label">Min. royalty</label>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="wellIndianInput" value={{ rm.MinRoyalty}}>
		</div>
		<div class="col-sm-5 checkbox">
			<label><input type="checkbox" {% if rm.ProcessingDeducted == "Y" or rm.ProcessingDeducted == "True" or rm.ProcessingDeducted == "Yes" %}checked {% endif %}>Processing deducted</label>
		</div>
	</div>		

	<div class="form-group row">
		<div class="col-sm-3">
			<label for="leaseIDInput" class="control-label">Valuation method</label>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="wellIndianInput" value={{ rm.ValuationMethod }}>
		</div>
		<div class="col-sm-5">
			<a href="" class="btn btn-info btn-block disabled">Wells</a>
		</div>
	</div>		

<hr>

	<div class="form-group row">
		<div class="col-sm-4 radio">
			<label><input type="radio" name="formulaRadios" id="SKProvCrownVar" onclick="hide();"/>SKProvCrownVar</label>
		</div>
		<div class="col-sm-4 radio">
			<label><input type="radio" name="formulaRadios" id="IOGR1995" onclick="hide();"/>IOGR1995</label>
		</div>
		<div class="col-sm-4 radio">
			<label><input type="radio" name="formulaRadios" id="GORR" checked onclick="hide();"/>GORR</label>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-3">
			<label for="leaseCrownMultInput" class="control-label crown">Crown Multiplier</label>
		</div>
		<div class="col-sm-4">
			<select class="form-control crown" id="leaseCrownMultInput">
				<option>1</option>
				<option>2</option>
				<option>3</option>
			</select>
		</div>	
	</div>

	<div class="form-group row gorr-radios">
		<div class="col-sm-7">
			<div class="radio">
			  <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Daily production</label>
			</div>
			<div class="radio">
			  <label><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Monthly production</label>
			</div>
		</div>
	</div>	

	<table class="table gorr-table">
		<tr>
			<th>From</th>
			<th>To</th>
			<th>Percent</th>
		</tr>
		<tr>
			<td>0</td>
			<td>100</td>
			<td>2%</td>
		</tr>
		<tr>
			<td>100</td>
			<td>200</td>
			<td>3%</td>
		</tr>
		<tr>
			<td>200</td>
			<td>400</td>
			<td>4%</td>
		</tr>
		<tr>
			<td>400</td>
			<td>0</td>
			<td>5%</td>
		</tr>						
	</table>
	</div>





<script>
	function hide(){
		if (document.getElementById("IOGR1995").checked)
		{
			$(".crown").css( "display", "none");
			$(".gorr-radios").css( "display", "none");
			$(".gorr-table").css( "display", "none");
		}
		else if (document.getElementById("SKProvCrownVar").checked)
		{
			$(".crown").css( "display", "inline-block");
			$(".gorr-table").css( "display", "none");
			$(".gorr-radios").css( "display", "none");
		}
		else if (document.getElementById("GORR").checked)
		{
			$(".crown").css( "display", "none");
			$(".gorr-table").css( "display", "table");
			$(".gorr-radios").css( "display", "block");
		}
	}
</script>


{% endblock %}

