<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    font-family: arial;
    font-size: 130%;

}
p1  {
    font-family: arial;
    font-size: 80%;
}
</style>
</head>

<h1 align="center">Well: 2000 SWI1103029492</h1>
<hr></hr>
<p1>


<TABLE align="center">
   <TR>
      <TD align=right>Lease:</TD>
      <TD align="left">OL-2000 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </TD>
   </TR>
   <TR>
      <TD align=right>Right:</TD>
      <TD align="left">All</TD>
   </TR>
   <TR>
      <TD align=right>Province:</TD>
      <TD align="left">SK</TD></TR>
   </TR>
       <TR>
      <TD align=right>Royalty Base:</TD>
      <TD align="left">OL-2000</TD>
   </TR>
   <TR>
      <TD align=right>Crown Multiplier:</TD>
      <TD align="left">All</TD>
   </TR>
   <TR>
      <TD align=right>Indian Interest:</TD>
      <TD align="left">SK</TD></TR>
   </TR>
       <TR>
      <TD align=right>SRC:</TD>
      <TD align="left">SK</TD></TR>
   </TR>
       <TR>
      <TD align=right>Classification:</TD>
      <TD align="left">OL-2000</TD>
   </TR>
   <TR>
      <TD align=right>Royalty Classification:</TD>
      <TD align="left">All</TD>
   </TR>
   <TR>
      <TD align=right>Valuation Method:</TD>
      <TD align="left">SK</TD></TR>
   </TR>
</TABLE>
</p1>
</html>
</body>



