<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    font-family: arial;
    font-size: 130%;

}
p1  {
    font-family: arial;
    font-size: 80%;
}
</style>
</head>

<h1 align="center">Well: {{ well.WellId }}<br>
	UWI: {{ well.UWI }}</h1>
<hr></hr>
<p1>


<TABLE align="center" border="0">
	<col width="50%">
	<col width="50%">
   <TR>
      <TD align=right>Lease:</TD>
      <TD align="left">{{ well.LeaseType }}-{{ well.LeaseID }} </TD>
   </TR>
   <TR>
      <TD align=right>Right:</TD>
      <TD align="left">{{ rm.RightsGranted }}</TD>
   </TR>
   <TR>
      <TD align=right>Province:</TD>
      <TD align="left">{{ well.Prov }}</TD></TR>
   </TR>
       <TR>
      <TD align=right>Royalty Base:</TD>
      <TD align="left">{{ rm.RoyaltyScheme }}</TD>
   </TR>
   <TR>
      <TD align=right>Crown Multiplier:</TD>
      <TD align="left">{{ rm.CrownMultiplier }}</TD>
   </TR>
   <TR>
      <TD align=right>Indian Interest:</TD>
      <TD align="left">{{ well.IndianInterest }}</TD></TR>
   </TR>
       <TR>
      <TD align=right>SRC:</TD>
      <TD align="left">{{ well.SRC }}</TD></TR>
   </TR>
       <TR>
      <TD align=right>Classification:</TD>
      <TD align="left">{{ well.Classification }}</TD>
   </TR>
   <TR>
      <TD align=right>Royalty Classification:</TD>
      <TD align="left">{{ well.RoyaltyClassification }}</TD>
   </TR>
   <TR>
      <TD align=right>Valuation Method:</TD>
      <TD align="left">{{ rm.ValuationMethod }}</TD></TR>
   </TR>
</TABLE><br>


<head>
<style>
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>
<body>


<h4>Monthly data for this well is available for these production dates:</h4>
{% if m %}
    <TABLE align="right" style="width:100%" border="1">

	<caption><b>Monthly Sask Def of</b></caption>
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">

   <TR>
      <TD>Extract Date</TD>
      <TD>Prod. Month</TD>
	   <TD>Amend No.</TD>
	   <TD>Prod.</TD>
	   <TD>Prod. Vol.</TD>
	   <TD>Well Head Price</TD>
	   <TD>Trucking Price</TD>
	   <TD>Processing Price</TD>
   </TR>

	<TR>
      <TD>{{ m.ExtractMonth }}</TD>
      <TD>{{ m.ProdMonth }}</TD>
	   <TD>{{ m.AmendNo }}</TD>
	   <TD>{{ m.Product }}</TD>
	   <TD>{{ m.ProdVol }}</TD>
	   <TD>{{ m.WellHeadPrice }}</TD>
	   <TD>2.1234</TD>
	   <TD>0.1234</TD>
    </TR>

</TABLE>


    &nbsp

    <div>
    {% if well.RoyaltyClassification == "Fourth Tier Oil" %}
        {% if m.ProdVol < 25 %}
        0
        {% endif %}
        {% if m.ProdVol <= 136.2 %}
            (C * MOP) - D  |
            {% if well.Classification == "Heavy" %}
                ({{ econData.H4T_C }} * {{ m.ProdVol }}) - {{ econData.H4T_D }}
                <br>
            {% endif %}
            {% if well.Classification == "Southwest" %}
                ({{ econData.SW4T_C }} * {{ m.ProdVol }}) - {{ econData.SW4T_D }}
                <br>
            {% endif %}
            {% if well.Classification == "Other" %}
                ({{ econData.O4T_C }} * {{ m.ProdVol }}) - {{ econData.O4T_D }}
                <br>
            {% endif %}
            <!--{% if well.Classification != "Heavy" or well.Classification != "Southwest" or well.Classification != "Other" %}-->
                <!--Royalty Classification Not Found-->
                <!--<br>-->
            <!--{% endif %}-->
        {% else %}
        (K - (X / MOP)) - D  |
            {% if well.Classification == "Heavy" %}
                ({{ econData.H4T_K }} - ({{ econData.H4T_X }} / {{ m.ProdVol }})) - {{ econData.H4T_D }}
                <br>
            {% endif %}
            {% if well.Classification == "Southwest" %}
                ({{ econData.SW4T_K }} - ({{ econData.SW4T_X }} / {{ m.ProdVol }})) - {{ econData.SW4T_D }}
                <br>
            {% endif %}
            {% if well.Classification == "Other" %}
                ({{ econData.O4T_K }} - ({{ econData.O4T_X }} / {{ m.ProdVol }})) - {{ econData.O4T_D }}
                <br>
            {% endif %}
        {% endif %}

    {% else %}
        {% if well.Classification == "Heavy" %}
            {% if well.RoyaltyClassification == "Third Tier Oil" %}
            Heavy Third Tier Oil
            {% endif %}
            {% if well.RoyaltyClassification == "New Oil" %}
            Heavy New Oil
            {% endif %}
        {% endif %}
        {% if well.Classification == "Southwest" %}
            {% if well.RoyaltyClassification == "Third Tier Oil" %}
            Southwest Third Tier Oil
            {% endif %}
            {% if well.RoyaltyClassification == "New Oil" %}
            Southwest New Oil
            {% endif %}
        {% endif %}
        {% if well.Classification == "Other" %}
            {% if well.RoyaltyClassification == "Third Tier Oil" %}
            Other Third Tier Oil
            {% endif %}
            {% if well.RoyaltyClassification == "New Oil" %}
            Other New Oil
            {% endif %}
            {% if well.RoyaltyClassification == "Old Oil" %}
            Other Old Oil
            {% endif %}
        {% endif %}
        {% endif %}

        <!--{% if well.Classification != "Heavy" or well.Classification != "Southwest" %}-->
            <!--well classification not found-->
    <!--{% endif %}-->

    <!--{% if well.RoyaltyClassification != "Fourth Tier Oil" %}-->
        <!--not Fourth tier-->
    <!--{% endif %}-->
        <!--<br>-->

    <!--{% if m.ProdVol == 0 %}-->
        <!--0-->
        <!--{% endif %}-->

    <!--{% if m.ProdVol >= 25.1 and m.ProdVol <= 136.2 %}-->
        <!--25.1=< ProdVol <=136.2-->
    <!--{% endif %}-->

        <!--{% if m.ProdVol > 136.2 %}-->
        <!--ProdVol > 136.2-->
    <!--{% endif %}-->
    <!--</div>-->
{% else %}
<h2>Sorry, no monthly data for this well</h2>
{% endif %}
<!--{*** Note: Replace Well Head Price with Petrinex detail when available ***}<br>-->
<!--{*** Note: Replace Trucking Price with Petrinex detail when available ***}<br>-->
<!--{*** Note: Replace Processing Price with Petrinex detail when available ***}<br>-->

</body>
</html>