<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    font-family: arial;
    font-size: 130%;

}
p1  {
    font-family: arial;
    font-size: 80%;
}
</style>
</head>

<h1 align="center">Well: {{ well.WellId }}<br>
	UWI: {{ well.UWI }}</h1>
<hr></hr>
<p1>


<TABLE align="center" border="0">
	<col width="50%">
	<col width="50%">
   <TR>
      <TD align=right>Lease:</TD>
      <TD align="left">{{ well.LeaseType }}-{{ well.LeaseID }} </TD>
   </TR>
   <TR>
      <TD align=right>Right:</TD>
      <TD align="left">{{ rm.RightsGranted }}</TD>
   </TR>
   <TR>
      <TD align=right>Province:</TD>
      <TD align="left">{{ well.Prov }}</TD>
   </TR>
       <TR>
      <TD align=right>Royalty Base:</TD>
      <TD align="left">{{ rm.RoyaltyScheme }}</TD>
   </TR>
   <TR>
      <TD align=right>Crown Multiplier:</TD>
      <TD align="left">{{ rm.CrownMultiplier }}</TD>
   </TR>
   <TR>
      <TD align=right>Indian Interest:</TD>
      <TD align="left">{{ well.IndianInterest }}</TD>
   </TR>
    <TR>
   {% if rm.MinRoyalty != None %}
       <TD align=right>Min Royalty: </TD>
       <TD align="left">{{ rm.MinRoyalty }}</TD>
    </TR>
    {% endif %}
   <TR>
    {% if well.SRC != None %}
       <TD align=right>SRC: </TD>
       <TD align="left">{{ well.SRC }}</TD>
   </TR>
    {% endif %}
   <TR>
   {% if well.Classification != None %}
      <TD align=right>Classification:</TD>
      <TD align="left">{{ well.Classification }}</TD>
   {% endif %}
   </TR>
   <TR>
   {% if well.RoyaltyClassification != None %}
      <TD align=right>Royalty Classification:</TD>
      <TD align="left">{{ well.RoyaltyClassification }}</TD>
   </TR>
   {% endif %}
   <TR>
      <TD align=right>Valuation Method:</TD>
      <TD align="left">{{ rm.ValuationMethod }}</TD>
   </TR>
   <TR>
   {% if well.CommencementDate != None %}
      <TD align=right>Commencement Date:</TD>
      <TD align="left">{{ well.CommencementDate }}</TD>
   </TR>
   {% endif %}
   <TR>
   {% if royaltyCalc.CommencementPeriod != None %}
      <TD align=right>Commencement Period:</TD>
      <TD align="left">{{ royaltyCalc.CommencementPeriod }}</TD>
   </TR>
   {% endif %}


</TABLE><br>


<TR>
   {% if rm.TruckingDeducted == 'Y' %}
      <TD align=right>Classification:</TD>
      <TD align="left">{{ well.Classification }}</TD>
   {% endif %}
</TR>


<head>
<style>
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>
<body>


    <TABLE align="right" style="width:100%" border="1">

	<caption><b>Monthly Sask Def of</b></caption>
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">
	<col width="12.5%">

   <TR>
      <TD>Extract Date</TD>
      <TD>Prod. Month</TD>
	   <TD>Amend No.</TD>
	   <TD>Prod.</TD>
	   <TD>Prod. Vol.</TD>
	   <TD>Well Head Price</TD>
	   <TD>Trucking Price</TD>
	   <TD>Processing Price</TD>
   </TR>

	<TR>
      <TD>{{ m.ExtractMonth }}</TD>
      <TD>{{ prodMonth }}</TD>
	   <TD>{{ m.AmendNo }}</TD>
	   <TD>{{ product }}</TD>
	   <TD>{{ m.ProdVol }}</TD>
	   <TD>{{ m.WellHeadPrice }}</TD>
	   <TD>2.1234</TD>
	   <TD>0.1234</TD>
    </TR>

</TABLE>
</body>
<body>

<br>


{*** Note: Replace Well Head Price with Petrinex detail when available ***}<br>
{*** Note: Replace Trucking Price with Petrinex detail when available ***}<br>
{*** Note: Replace Processing Price with Petrinex detail when available ***}<br>
<pre>
{% if royaltyCalc.X > 0 %}
         x                 | {{ royaltyCalc.X }} 
(K - --------- ) - SRC     | {{ royaltyCalc.K, well.SRC, royaltyCalc.ProvCrownRoyaltyRate }} 
        MOP                | {{ m.ProdVol }}
{% endif %}

{% if royaltyCalc.C > 0 %}
    (C * MOP) - D | {{royaltyCalc.C, m.ProdVol, royaltyCalc.D, royaltyCalc.ProvCrownRoyaltyRate}}
    {% endif %}

{% if royaltyCalc.Message != None %}
{{ royaltyCalc.Message }}
{% endif %}
</pre>

{% if royaltyCalc.CommencementPeriod != None %}
    {% if royaltyCalc.CommencementPeriod < 5 %}
    IOGR 1995 - Commencement Period < 5 Years: {{ royaltyCalc.CommencementPeriod }}
    {% else %}
    IOGR 1995 - Commencement Period >= 5 Years: {{royaltyCalc.CommencementPeriod }}
    {% endif %}
{% endif %}

</body>
</html>