{% extends 'layout.html' %}
{% block body %}

<form id="wellForm" method="POST">
    <input type="hidden" name="ID" value="{{ well.ID }}" />
    <fieldset>
        <legend><h3>Well {{ well.ID }}</h3></legend>
        <table cellpadding="5">
            <tr>
                <td><label for="Prov">Province</label></td>
                <td><input type="text" name="Prov" value="{{ well.Prov }}" /></td>
                <td><label for="WellType">Well Type</label></td>
                <td><input type="text" name="WellType" value="{{ well.WellType }}" /></td>
            </tr>
            <tr>
                <td><label for="RoyaltyClassification">Royalty Classification</label></td>
                <td><input type="text" name="RoyaltyClassification" value="{{ well.RoyaltyClassification }}" /></td>
                <td><label for="Classification">Classification</label></td>
                <td><input type="text" name="Classification" value="{{ well.Classification }}" /></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                {% if new == False %}
                <td><button type="submit" name="action" value="delete">Delete</button></td>
                <td><button type="submit" name="action" value="update">Update</button></td>
                {% else %}
                <td><button type="submit" name="action" value="cancel">Cancel</button></td>
                <td><button type="submit" name="action" value="add">Add</button></td>
                {% endif %}
            </tr>
        </table>
    </fieldset>
</form>

{% endblock %}