{% extends "layout.html" %}
{% block body %}
<script>
  $(function() {
  	$('#tabs').tabs();
    $('#search-accordion').accordion({
      collapsible:true,
      heightStyle:'content',
      animate:false
    });
    $('#search-basic, #search-advanced').button({
      icons: {primary: 'ui-icon-search'}
    });
  });
</script>

<h2>Well Search</h2>

<div id="search-accordion">
  <h3>Search Criteria</h3>
  <div>
  	<div id="tabs">
  	  <ul>
  	    <li><a href="#tabs-basic">Basic search</a></li>
  	    <li><a href="#tabs-advanced">Advanced search</a></li>
  	    <li><a href="#tabs-band">Search by band</a></li>

  	  </ul>

  	  <div id="tabs-basic">
      <form name="search-basic" action="/wells" method="get">
  	    ID
        <br>
        <input name="ID" value="{% if search_terms %}{{ search_terms['ID'] }}{% endif %}"/>
        <br>
        <br>
        Classification
        <br>
        <input name="Classification" value="{% if search_terms %}{{ search_terms['Classification'] }}{% endif %}"/>
        <br>
        <br>
        <button type="submit" id='search-basic'>Search</button>
        </form>
  	  </div>

  	  <div id="tabs-advanced">
      <form name="search-advanced" action="/wells" method="get">
  	    Province
        <br>
        <input name="Prov" value="{% if search_terms %}{{ search_terms['Prov'] }}{% endif %}"/>
        <br>
        <br>
        Well Type
        <br>
        <input name="WellType" value="{% if search_terms %}{{ search_terms['WellType'] }}{% endif %}"/>
        <br>
        <br>
        <button id='search-advanced'>Search</button>
      </form>
  	  </div>

  	  <div id="tabs-band">
      <form name="search-band" action="/wells" method="get">
  	    Band ID
        <br>
        <input name="Band" value="{% if search_terms %}{{ search_terms['Band'] }}{% endif %}"/>
        <br>
        <br>
        <button id='search-band'>Search</button>
      </form>
  	  </div>

  	</div>
  </div>
</div>

</html>

{% if results %}
<table style="width:100%" class="results_table table-striped">
  <caption><b>{{results|length}}</b> results found</caption>
  <tr>
    <th>ID</th>
    <th>Province</th>
    <th>Well Type</th>
    <th>Royalty Classification</th>
    <th>Classification</th>
    <th>Actions</th>
  </tr>
  {% for row in results %}
  <tr>
    <td><a href="{{ url_for('wells.details', well_num = row.ID) }}">{{ row.ID or "" }}</a></td>
    <td>{{ row.Prov or "" }}</td>
    <td>{{ row.WellType or "" }}</td>
    <td>{{ row.RoyaltyClassification or "" }}</td>
    <td>{{ row.Classification or "" }}</td>
    <td><a href="/worksheet?WellId={{ row.ID }}" title="Worksheet" class="icon icon-text-document"></a>
    &nbsp;
    <a href="{{ url_for('wells.calculate') }}?WellId={{ row.ID }}" title="Recalculate" class="icon icon-reload"></a>
    </td>
  </tr>
  {% endfor %}
</table>
<script>
// collapses the accordion if there are search results
$(function(){
  $("#search-accordion").accordion("option", "active", false);
})
</script>
{% endif %}

{% endblock %}