{% extends "layout.html" %}
{% block body %}
<script>
$(function() {
  $('.help').on('click', function(){showHelp()});

  $("#help-modal").dialog({
  modal: true,
  autoOpen: false,
  buttons: {
    OK: function() {$(this).dialog("close")}
  }
  });

  $('#tabs').tabs();

  $('#search-accordion').accordion({
    collapsible:true,
    heightStyle:'content',
    animate:false
  });

  $('#search-basic, #search-advanced').button({
    icons: {primary: 'ui-icon-search'}
  });

  $('#band-lookup-button')
  .click(function() {
    showBandLookupDialog();
  })

  $('#band-lookup-accordion').accordion({
    collapsible:true,
    heightStyle:'content',
  });

  $('#band-lookup-search')
    .button({
      icons: {primary: 'ui-icon-search'}
    })
    .click(function() {
      event.preventDefault();
      $.ajax({
        type: "GET",
        url: "/lookups/band",
        dataType: "html",
        data: $('#band-lookup-form').serialize()
      })
      .done(function (msg){
          if (msg) {
            $('#band-lookup-results').html(msg);
            $("#band-lookup-accordion").accordion("option", "active", false)
          } else {
            $('#band-lookup-results').html('<span style="color:red">No results found</span>');
          }
      });
  });

});

function showBandLookupDialog() {
  var BandLookupDialog = $('#band-lookup-dialog')
  .dialog({
      autoOpen: true,
      modal: false,
      title: 'Band lookup',
      width: 600,
      height: 400,
      buttons:{
        Cancel: function() {$(BandLookupDialog.dialog('close')); $('#band-lookup-form')[0].reset()},
        "Save": function() {$('#FNBandID').val($('#band-lookup-results-select').val()); BandLookupDialog.dialog('close')}
      },
  });

}

function showHelp() {
  var helpItem = $(event.target).data('help');
  $.get('/lookups/help', {item: helpItem})
    .done(function(data) {
      $('#help-modal-text').html(data);
    })
    .fail(function(data) {
      $('#help-modal-text').html('Failed to get help for ', helpItem);
    })
    .always(function(data) {
      $('#help-modal').dialog({title: 'Help for ' + helpItem});
      $('#help-modal').dialog('open');
    });

}
</script>

<div id="help-modal">
  <div id="help-modal-text">

  </div>
</div>

<h2>Well Search</h2>

<div id="band-lookup-dialog" class="lookup-dialog" style="display:none;">
  <div id="band-lookup-modal">
    <div id="band-lookup-accordion">
    <h3>Search parameters</h3>
      <form id="band-lookup-form" method="GET">
        <table>
          <tr>
            <td>
              <b>Band Name:</b>
              <br>
              <input name="FNBandName"/>
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit" id="band-lookup-search">Search</button>
            </td>
          </tr>
        </table>
       </form>
    </div>

    <br>

    <div id="band-lookup-results">
    </div>
  </div>
</div>

<div id="search-accordion">
  <h3>Search Criteria</h3>
  <div>
  	<div id="tabs">
  	  <ul>
  	    <li><a href="#tabs-basic">Basic search</a></li>
  	    <li><a href="#tabs-advanced">Advanced search</a></li>
  	  </ul>

  	  <div id="tabs-basic">
      <form name="search-basic" action="/wells" method="get">
  	    ID<sup><i data-help="WellRoyaltyMaster.ID" class="fa fa-question-circle help"></i></sup>
        <br>
        <input name="ID" value="{% if search_terms %}{{ search_terms['ID'] }}{% endif %}"/>
        <br>
        <br>
        Classification<sup><i data-help="WellRoyaltyMaster.Classification" class="fa fa-question-circle help"></i></sup>
        <br>
        <input name="Classification" value="{% if search_terms %}{{ search_terms['Classification'] }}{% endif %}"/>
        <br>
        <br>
  	    Band ID<sup><i data-help="FNBand.ID" class="fa fa-question-circle help"></i></sup>
        <br>
        <input id="FNBandID" name="FNBandID" value="{% if search_terms %}{{ search_terms['FNBandID'] }}{% endif %}"/><input type="button" id="band-lookup-button" value="..."/>
        <br>
        <br>
        <button type="submit" id='search-basic'>Search</button>
        </form>
  	  </div>

  	  <div id="tabs-advanced">
      <form name="search-advanced" action="/wells" method="get">
  	    Province<sup><i data-help="WellRoyaltyMaster.Prov" class="fa fa-question-circle help"></i></sup>
        <br>
        <input name="Prov" value="{% if search_terms %}{{ search_terms['Prov'] }}{% endif %}"/>
        <br>
        <br>
        Well Type
        <br>
        <input name="WellType" value="{% if search_terms %}{{ search_terms['WellType'] }}{% endif %}"/>
        <br>
        <br>
        <button id='search-advanced'>Search</button>
      </form>
  	  </div>
  	</div>
  </div>
</div>

</html>

{% if results %}
<table style="width:100%" class="results_table table-striped">
  <caption><b>{{results|length}}</b> results found</caption>
  <tr>
    <th>ID</th>
    <th>Province</th>
    <th>Well Type</th>
    <th>Royalty Classification</th>
    <th>Classification</th>
    <th>FN Band ID</th>
    <th>FN Band</th>
    <th>Actions</th>
  </tr>
  {% for row in results %}
  <tr>
    <td><a href="{{ url_for('wells.details', well_num = row.ID) }}">{{ row.ID or "" }}</a></td>
    <td>{{ row.Prov or "" }}</td>
    <td>{{ row.WellType or "" }}</td>
    <td>{{ row.RoyaltyClassification or "" }}</td>
    <td>{{ row.Classification or "" }}</td>
    <td>{{ row.FNBandID or "" }}</td>
    <td>{{ row.FNBandName or "" }}</td>
    <td><a href="/worksheet?WellId={{ row.ID }}" title="Worksheet" class="icon icon-text-document"></a>
    &nbsp;
    <a href="{{ url_for('wells.calculate') }}?WellId={{ row.ID }}" title="Recalculate" class="icon icon-reload"></a>
    </td>
  </tr>
  {% endfor %}
</table>
<script>
// collapses the accordion if there are search results
$(function(){
  $("#search-accordion").accordion("option", "active", false);
})


</script>
{% endif %}

{% endblock %}