table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

a:hover.topnav {
  color:#6E9A06;
}

a.active {
  color:green;
}

a.topnav {
  color:white;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
#	bottom: 0;
    width: 100%;
}

li.topnav {
    float: left;
}


li.topnav a {
    text-align: center;
    padding: 1px 10px;
    text-decoration: none;
}


li.saveme a {
    color: white;
    text-align: center;
    padding: 1px 10px;
    text-decoration: none;
}

td:hover {background-color: #6E9A06}

tr:nth-child(even) {background-color: #f2f2f2}

tr {
    white-space: nowrap;
}

body {margin:20;padding:20}

body 
{
 margin-top:30px;
 margin-left:30px;
 margin-right:30px;
 margin-bottom:30px;

}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.lfsKeep {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
//	position: static|absolute|fixed|relative|initial|inherit;
}

.lfsDialog {
	position: inherit;
	font-family: Arial, Helvetica, sans-serif;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.lfsDialog:target {
	opacity:1;
	pointer-events: auto;
}

.lfsDialog > div {
	width: 300px;
	position: relative;
	margin: 10% auto;
	padding: 5px 2px 13px 3px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
