{% extends "layout.html" %}
{% block body %}

<script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

<script>

$(function() {

  <!--updateList();-->


  $('#tabs').tabs();

  $('#search-accordion').accordion({
    collapsible:true,
    heightStyle:'content',
    animate:false
  });

    $( "#search-basic" ).on( "click", function() {
        Subject = $("#Subject").val()
        Resolve = $("#Resolvexxx").prop('checked')
        updateList()
    });

    $( "#create" ).on( "click", function() {
        myMsg()
    });

  $('#search-basic').button({
    icons: {primary: 'ui-icon-search'}
  });

})

var Subject = ""
var Resolve = "What"

function updateList(){
    $.ajax({
    url: "/admin/datadictionary/get",
    dataType: "html",
    data: {Resolve:Resolve,Subject:Subject}
  })
    .done(function(msg){
      $('#results-container').html(msg);
      $("#search-accordion").accordion("option", "active", false);
    })
}

function myMsg() {
    alert("Hello! I am an alert box!" + Subject);
}

</script>


<div id="search-accordion">
  <h3>Search Criteria</h3>
  <div>
  	<div id="tabs">
  	  <ul>
  	    <li><a href="#tabs-basic">Basic search</a></li>
  	  </ul>

  	  <div id="tabs-basic">
        <table>
            <tr>
                <td>
                    Subject<sup><i data-help="DataDictionary.TableName" class="fa fa-question-circle help"></i></sup>
                    <br>
                    <input id="Subject"/>
                </td>
                <td>
                    <input type="checkbox" id="Resolvexxx" checked="yes">
                    <i data-help="DataDictionary.Resolve" class="fa fa-question-circle help"></i></sup> Resolve Lookups
                </td>
            </tr>
        </table>
        <br>
        <br>
        <button id='search-basic'>Search</button>&nbsp;<button id="create">Create new</button>
  	  </div>

  	</div>
  </div>
</div>


<div id="results-container">
</div>

{% endblock %}