{% extends "layout.html" %}
{% block body %}

<form method="POST" enctype="multipart/form-data" id="form">
    <span style="color:red;">The following will replace all data in the database:</span>
    <br><br>
    Select XLSX file to upload:
    <input type="file" name="fileToUpload" id="fileToUpload" />
    <br>
    <br>
    <button type="submit" name="submit" id="submit">Submit</button>
</form>

<script>
    $('#form').submit(function(event){
        $('#submit').prop('disabled', true);
        $('#spinner').show();
        $('#results').hide();
    })
</script>

<br>

<div id="spinner" style="display:none;">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>

{% if results %}
<div id="results">
    {{ results|safe }}
</div>
{% endif %}

<br>

{% if log %}
<a href="#" onclick="$('#log').toggle()">Show log</a>
<br>
<div id="log" style="display:none; border-style:solid; border-width:1px;">
    {{ log|safe }}
</div>
{% endif %}

{% endblock %}