{% extends 'layout.html' %}
{% block body %}

<form id="leaseForm" method="POST">
    <fieldset>
        <legend><h3>Lease {{ lease.Lease }}</h3></legend>
        <table cellpadding="5">
            <tr>
                <td><label for="LeaseType">Lease Type</label></td>
                <td><input type="text" name="LeaseType" value="{{ lease.LeaseType }}" /></td>
                <td><label for="ID">ID</label></td>
                <td><input type="text" name="ID" value="{{ lease.ID }}" readonly /></td>
            </tr>
            <tr>
                <td><label for="Province">Province</label></td>
                <td><input type="text" name="Prov" value="{{ lease.Prov }}" /></td>
                <td><label for="FNReserve">FNReserve</label></td>
                <td><input type="text" name="FNReserveID" value="{{ lease.FNReserveID }}" /></td>
            </tr>
            <tr>
                <td><label for="FNBandID">FNBandID</label></td>
                <td><input type="text" name="FNBandID" value="{{ lease.FNBandID }}" /></td>
            </tr>
            <tr>
                <td><label for="Notes">Notes</label></td>
                <td colspan="3"><input style="width:100%" type="text" name="Notes" value="{{ lease.Notes }}" /></td>
            </tr>
            {% if royaltymaster %}
            <tr>
                <td><label for="RightsGranted">Rights Granted</label></td>
                <td><input type="text" name="RightsGranted" value="{{ royaltymaster.RightsGranted }}" /></td>
                <td><label for="RoyaltyScheme">Royalty Scheme</label></td>
                <td><input type="text" name="RoyaltyScheme" value="{{ royaltymaster.RoyaltyScheme }}" /></td>
            </tr>
            <tr>
                <td><label for="CrownMultiplier">Crown Multiplier</label></td>
                <td><input type="text" name="CrownMultiplier" value="{{ royaltymaster.CrownMultiplier }}" /></td>
                <td><label for="ValuationMethod">Valuation Method</label></td>
                <td><input type="text" name="ValuationMethod" value="{{ royaltymaster.ValuationMethod }}" /></td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2">&nbsp;</td>
                {% if new == False %}
                <td><button type="submit" name="action" value="delete">Delete</button></td>
                <td><button type="submit" name="action" value="update">Update</button></td>
                {% else %}
                <td><button type="submit" name="action" value="cancel">Cancel</button></td>
                <td><button type="submit" name="action" value="add">Add</button></td>
                {% endif %}
            </tr>
        </table>
    </fieldset>
</form>

<br>
<div id="wellsAccordion">
    <h3>Show wells</h3>
    <div id="wells"></div>
</div>

<script>
    $(function() {
        $('#wellsAccordion').accordion({
            collapsible:true,
            active:false,
            heightStyle:'auto',
            animate:false
        });
    });

    var wells_cache;  // store wells so we don't run the request every time we open/close the accordion
    $('#wellsAccordion').click(function(e){
            if (wells_cache) {
                $('#wells').html('<ul>' + wells_cache + '</ul>');
                $('#wellsAccordion').accordion('refresh');
            } else {
                $.get('/leases/' + '{{ lease.ID }}' + '/wells.json', function(data){
                    data = JSON.parse(data);
                    var items = [];
                    $.each(data, function (id, item) {
                        item = JSON.parse(item);
                        items.push('<li><a href="/wells/' + item.ID +'">' + item.ID + '</a></li>');
                    });
                    wells_cache = items.join('');
                    $('#wells').html('<ul>' + wells_cache + '</ul>');
                    $('#wellsAccordion').accordion('refresh');
                })
            }
        }
    )

</script>

{% endblock %}