{% extends "layout.html" %}
{% block body %}
<script>
  $(function() {
  	$('#tabs').tabs();
    $('#search-accordion').accordion({
      collapsible:true,
      heightStyle:'content',
      animate:false
    });
    $('#search-basic, #search-advanced').button({
      icons: {primary: 'ui-icon-search'}
    });
  });
</script>

<h2>Lease Search</h2>

<div id="search-accordion">
  <h3>Search Criteria</h3>
  <div>
  	<div id="tabs">
  	  <ul>
  	    <li><a href="#tabs-basic">Basic search</a></li>
  	    <li><a href="#tabs-advanced">Advanced search</a></li>
  	  </ul>

  	  <div id="tabs-basic">
      <form name="search-basic" action="/leases" method="get">
  	    Lease ID
        <br>
        <input id='ID' name="ID" value="{% if search_terms %}{{ search_terms['ID'] }}{% endif %}" />
        <br>
        <br>
        Province
        <br>
        <input id='Prov' name="Prov" value="{% if search_terms %}{{ search_terms['Prov'] }}{% endif %}" />
        <br>
        <br>
        <button type="submit" id='search-basic'>Search</button>
       </form>
  	  </div>

  	  <div id="tabs-advanced">
      <form name="search-advanced" action="/leases" method="get">
  	    Province
        <br>
        <input id='well-search-prov' name="Province" value="{% if search_terms %}{{ search_terms['Prov'] }}{% endif %}"/>
        <br>
        <br>
        Well Type
        <br>
        <input id='well-search-type' name="FNReserve" value="{% if search_terms %}{{ search_terms['FNReserve'] }}{% endif %}" />
        <br>
        <br>
        <button type="submit" id='search-advanced'>Search</button>
      </form>
  	  </div>

  	</div>
  </div>
</div>

{% if results %}
<div id='results-table'>
<table style="width:100%" class="results_table table-striped">
  <caption><b>{{results|length}}</b> results found</caption>
  <tr>
    <th>ID</th>
    <th>Lease Type</th>
    <th>Province</th>
    <th>FN Reserve</th>
    <th>FN Band ID</th>
  </tr>
  {% for row in results %}
  <tr>
    <td><a href="{{ url_for('leases.details', lease_num = row.ID) }}">{{ row.ID or "" }}</a></td>
    <td>{{ row.LeaseType or "" }}</td>
    <td>{{ row.Prov or "" }}</td>
    <td>{{ row.FNReserve or "" }}</td>
    <td>{{ row.FNBandID or "" }}</td>
  </tr>
  {% endfor %}
</table>
</div>
<script>
// collapses the accordion if there are search results
$(function(){
  $("#search-accordion").accordion("option", "active", false);
})
</script>
{% endif %}

</html>

{% endblock %}